@charset "utf-8";

@font-face {
  font-family: 'Noto Sans Light';
  font-style: normal;
  font-weight: 400;
  src: url(../font/notoSans/eot/NotoSansKR-Light-Hestia.eot);
  src: url(../font/notoSans/eot/NotoSansKR-Light-Hestia.eot?#iefix) format("embedded-opentype"), url(../font/notoSans/woff/NotoSansKR-Light-Hestia.woff) format("woff");
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../font/notoSans/eot/NotoSansKR-Regular-Hestia.eot);
  src: url(../font/notoSans/eot/NotoSansKR-Regular-Hestia.eot?#iefix) format("embedded-opentype"), url(../font/notoSans/woff/NotoSansKR-Regular-Hestia.woff) format("woff");
}

@font-face {
  font-family: 'Noto Sans Medium';
  font-style: normal;
  font-weight: 400;
  src: url(../font/notoSans/eot/NotoSansKR-Medium-Hestia.eot);
  src: url(../font/notoSans/eot/NotoSansKR-Medium-Hestia.eot?#iefix) format("embedded-opentype"), url(../font/notoSans/woff/NotoSansKR-Medium-Hestia.woff) format("woff");
}

@import '../common/variable.scss';    

/* reset */
:root{overflow-wrap: break-word; color-scheme: light dark;}
body,html{width: 100%;height: 100%;margin: 0;padding: 0; font-family:'Noto Sans DemLight', "맑은 고딕", "Malgun Gothic", Dotum, sans-serif;color: $c333;letter-spacing:-0.65px !important;}
:where(html, body, div, span, object,h1, h2, h3, h4, h5, h6, p, blockquote, a, button, abbr, address, img, q,dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,article, aside, footer, header, section, summary){
  margin:0;padding:0;border:0;font:inherit;
}  
:where(article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section){display: block;}
ol,ul,li{list-style: none;}
table{border-collapse: collapse;border-spacing: 0;}
a{text-decoration: none;color: inherit;}
address{font-style: normal;}
button{display: inline-block;border: none;background-color: transparent;cursor: pointer;}
input,button,a,select,option{font-family:inherit;font-size:inherit;}
caption,hr{display:none;}
pre{word-break:break-all;white-space:pre-line;margin: 0 !important;}

/* darkMode 

/--------------------------------------------

  d: default
  c: text color
  bg: background
  hv: hover
  at: active
  sc: scroll
  fb: frameBody
  tb: table
  dis: disabled
  bdc: border color
  pop: popup

--------------------------------------------/

*/

body{
  /* bg */
  --d-bg-body: #fff;
  --d-bg-left-menu:#f5f5f5;
  --d-bg-left-menu-dep2: #eee;
  --d-bg-at-more-sub-menu: #f3f4f5;
  --d-bg-hv-more-sub-menu-item: rgba(204, 204, 204, 0.8);
  --d-bg-hv-util-area-circle: rgba(221, 221, 221, 0.5);
  --d-bg-pop: #fff;
  --bg-tb-th: #f5f5f5;
  --d-bg-skeleton: #dee2e6;
  --bg-showHideBox:rgba(243,244,245,0.8);

  /* color */
  --d-c-text: #202020;
  
  /* primary & common */
  --primary: #266bf7;
  --primary-type02: #266bf7;
  --primary-type03: #1694d2;
  --black-white: #000;
  --white-black21: #fff;
  --c-333-white: #333;

  /* sc */
  --d-sc-thumb: #ccc;
  --d-sc-track: #e9e9e9;
  --d-sc-hv-thumb: #b6b6b6;
  --d-sc-at-thumb: #808080;

  /* pagination */
  --dis-bg-pagination: rgba(204,204,204,0.5);
  --bdc-hv-pagination: #000;
  --c-pagi-num:rgba(34, 34, 34, 0.5);

  /* boardList */
  --bg-boardList-head: #ddd;
  --c-boardList-head: #3b3b3b;
  --bg-boardList-cont: rgba(243,244,245,0.8);

  /* input & select */
  --d-bg-input: #fff;
  --d-bg-select: #fff;
  --bg-chk: #fff;

  /* etc */
  --d-bdc: #ddd;
  --d-fb-box: #000;
  --dis-c-left-menu-dep2: #ccc;
  --img-light: inline-block;
  --img-dark: none;
  --mark-dep3: rgba(32, 32, 32, 0.75);
}

body[data-theme='light']{
  /* bg */
  --d-bg-body: #fff;
  --d-bg-left-menu:#f5f5f5;
  --d-bg-left-menu-dep2: #eee;
  --d-bg-at-more-sub-menu: #f3f4f5;
  --d-bg-hv-more-sub-menu-item: rgba(204, 204, 204, 0.8);
  --d-bg-hv-util-area-circle: rgba(221, 221, 221, 0.5);
  --d-bg-pop: #fff;
  --bg-tb-th: #f5f5f5;
  --d-bg-skeleton: #dee2e6;
  --bg-showHideBox:rgba(243,244,245,0.8);

  /* color */
  --d-c-text: #202020;

  /* primary & common */
  --primary: #266bf7;
  --primary-type02: #266bf7;
  --primary-type03: #1694d2;
  --black-white: #000;
  --white-black21: #fff;
  --c-333-white: #333;

  /* sc */
  --d-sc-thumb: #ccc;
  --d-sc-track: #e9e9e9;
  --d-sc-hv-thumb: #b6b6b6;
  --d-sc-at-thumb: #808080;

  /* pagination */
  --dis-bg-pagination: rgba(204,204,204,0.5);
  --bdc-hv-pagination: #000;
  --c-pagi-num:rgba(34, 34, 34, 0.5);

  /* boardList */
  --bg-boardList-head: #ddd;
  --c-boardList-head: #3b3b3b;
  --bg-boardList-cont: rgba(243,244,245,0.8);

  /* input & select */
  --d-bg-input: #fff;
  --d-bg-select: #fff;
  --bg-chk: #fff;

  /* etc */
  --d-bdc: #ddd;
  --d-fb-box: #000;
  --dis-c-left-menu-dep2: #ccc;
  --img-light: inline-block;
  --img-dark: none;
  --mark-dep3: rgba(32, 32, 32, 0.75);
}

body[data-theme='dark']{
  /* bg */
  --d-bg-body: #181818;
  --d-bg-left-menu:#212121;
  --d-bg-left-menu-dep2: #1e1f21;
  --d-bg-at-more-sub-menu: #2d2d2d;
  --d-bg-hv-more-sub-menu-item: #53575c;
  --d-bg-hv-util-area-circle: rgba(255,255,255,0.1);
  --d-bg-pop: #313131;
  --bg-tb-th: #444;
  --d-bg-skeleton: #2e2e2e;
  --bg-showHideBox:#343434;

  /* color */
  --d-c-text: #fff;
  
  /* primary & common */
  --primary: #2196F3;
  --primary-type02: rgba(89,148,241,1);
  --primary-type03: rgba(149,196,232,1);
  --black-white: #fff;
  --white-black21: #212121;
  --c-333-white: #fff;

  /* sc */
  --d-sc-thumb: #686868;
  --d-sc-track: #424242;
  --d-sc-hv-thumb: #7b7b7b;
  --d-sc-at-thumb: #b6b6b6;

  /* pagination */
  --dis-bg-pagination: #333;
  --bdc-hv-pagination: #999;
  --c-pagi-num:#fff;

  /* boardList */
  --bg-boardList-head: #333;
  --c-boardList-head: #fff;
  --bg-boardList-cont: #212121;

  /* input & select */
  --d-bg-input: #121212;
  --d-bg-select: #121212;
  --bg-chk: #333;

  /* etc */
  --d-bdc: #3a3b3d;
  --d-fb-box: #555;
  --dis-c-left-menu-dep2: #717171;
  --img-light: none;
  --img-dark: inline-block;
  --mark-dep3: rgba(242, 241, 241, 1);
}

.no-display body{display: none;}

.show-display body {
  display: block;
}

body{background: var(--d-bg-body);
  .lightLogo{display: var(--img-light);}
  .darkLogo{width: 60%; display: var(--img-dark);}
  &.eleShow{display: block;}
}

svg{fill: currentColor;
  &.lightType{display: var(--img-light);}
  &.darkType{display: var(--img-dark);}
}

/* class */
.hidden{display:block;margin: 0;padding: 0;width: 0;height: 0;overflow: hidden;font-size: 0;line-height: 0;visibility: hidden;}
.block{display: block;}
.h400{height: 400px;}
.overflow-y{overflow-y: auto;
  &.maxH{max-height: 100px;}
  &.maxH4{max-height: 400px;}
}
.tScroll{display: block;}

.wrap.pre.h2000{height: 2000px;}
#wrap{width: 100%; height: 100%;
  &.scrollHidden{overflow: hidden;}
  .mainTxt{color: var(--d-c-text);}
  &.main{position: relative; transition: .5s; background-color: #4e4e4e;
    .logo a{display: block; width: 800px; height: 136px; transition: .5s ease-in-out;
    background: url("../../images/common/main-logo-g.png")no-repeat center;
      &.change{background: url("../../images/common/main-logo-w.png")no-repeat center;}
    } 
    .centerArea{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center;}
    .btnStart{position: relative; display: inline-block; width: 170px; height: 56px; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: rgba($color: $whiteBg, $alpha: 0.5); transform: perspective(1px) translateZ(0); 
      span{position: relative; font-size: 1.38em; font-family: $d-fz; transition: .3s;
      color: $cfff; letter-spacing: 6.6px;
        &:after{content: ''; position: absolute; top: 6px; right: -30px; min-width: 20px; height: 20px; transition: .3s;}
      }
      &:before{content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -1;
      transform: scaleX(0); transform-origin: 0 50%;  transition-duration: 0.3s; transition-property: transform; 
      transition-timing-function: ease-out; background: $whiteBg;}
    }
    &.blue{background: #1694d2; transition: .5s ease-in-out;}
  }

  /* update page */
  &.update{
    #contents{padding: 50px 20px 50px 20px; width: 1200px; margin: 0 auto;}
    .mainTxt{
      ul{
        li{font-family: '맑은 고딕';
          +li{margin-top: 10px;}
        }
      }
      p{font-size: 1em; font-family: $d-fz;line-height: 1.5;}
    }
    .textBox{
      .titleH3+.mainTxt p{font-size: 0.88em;}  
      +.textBox{margin-top: 75px;}
    }
  }

  &.license{
    #contents{padding: 50px; width: 1200px; margin: 0 auto;}
    .textBox{
      .titleH3+.mainTxt p{font-size: 0.88em;}
      +.textBox{margin-top: 75px;}
    }
    .indentTxtArea{padding: 30px 0 0 20px;
      ul{
        li{list-style: inside; font-family: '맑은 고딕'; font-size: 0.88em;
          +li{padding-top: 5px;}
        }
      }
    }
  }

  &.err{background-color: #C92A2C;
    #container{display: -ms-flexbox; max-width: 600px; margin: 0 auto; height: 100%; align-items: center;}
    .imgDiv{
      +.txtDiv{margin-top: 20px;}
    }
    .txtDiv,.descDiv,.bottomDiv{color: $cfff; font-family: '맑은 고딕';}
    .txtDiv{font-size: 1.5em; 
      +.descDiv{margin-top: 30px;}
    }
    .descDiv{font-size: 1em;
      p+p{margin-top: 15px;}
    }
    .bottomDiv{display: flex; justify-content: flex-end; margin-top: 40px; font-size: 1em;}
  }
}

.topArea{display: none; position: fixed; right: 30px; bottom: 30px; z-index: 9990;
  .backtoTop{display: flex; align-items: center; justify-content: center; width: 48px; height: 48px; 
  border: 1px solid var(--black-white); color: var(--black-white); transition: .5s;}
}

#container{position: relative;display: flex;}

.leftArea{position: fixed; left: 0; width: 300px; height: 100%; border-right: 1px solid var(--d-bdc); 
overflow-y: auto; background-color: var(--d-bg-left-menu); z-index: 1100;
  >.leftMenu{
    >li{position: relative; cursor: pointer;
      a{display: block;}
      &:first-child >a{padding: 16px 0; text-indent: 28px; 
      border-bottom: 1px solid var(--d-bdc);}
      >span{display: block;
        a{display: block; /*align-items: center; justify-content: space-between;*/ position: relative; padding: 16px 0; 
        text-indent: 28px;border-bottom: 1px solid var(--d-bdc); text-overflow: ellipsis; overflow: hidden;
        white-space: nowrap; font-family: $d-fz; font-size: 1.38em; color: var(--c-333-white); transition: .5s;
            svg{position: absolute; top: 27px; right: 0; width: 30px; height: 18px; margin-right: 17px; transition: .5s;}
        }
      }
      &.active{
        span>a{color: var(--primary-type02);
          svg{top: 24px; transform: rotate(180deg);}
        }
      }
      >a{display: block;}
      >ul.leftSubMenu{display: none; padding: 16px 28px 16px 28px; box-sizing: border-box;
      border-bottom: 1px solid var(--d-bdc); background-color: var(--d-bg-left-menu-dep2);
        &.block{display: block;}
        li{border-bottom: 1px solid var(--d-bdc);
          a{position: relative; display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; 
          padding-bottom: 8px; font-family: $d-fz; font-size: 1.13em; color: var(--c-333-white);
            svg{position: absolute; top: 5px; right: 0;
              &.fold{display: none;}
            }
          }
          &.active{
            a{color: var(--primary-type02);}
          }
          &.on{
            >a{color: var(--primary-type02);
              svg{
                &.unfold{display: none;}
                &.fold{display: block; top: 15px;}
              }
            }
          }
          +li{margin-top: 17px;}

          //비공개일때
          &.disabled{
            >a{color: var(--dis-c-left-menu-dep2);}
          }
          >.dep3{display: none; padding: 8px 0 0 25px; border-top: 1px solid var(--d-bdc);
            >li{position: relative; border-bottom: 0;
              &:before{content: ''; position: absolute; top: 9px; left: -20px; width: 6px; height: 6px;
              border-radius: 50%; background-color: var(--mark-dep3);}
              >a{font-size: 0.94em;}
              +li{margin-top: 5px;}
              &:last-of-type{padding-bottom: 0; border-bottom: 0;}
              &.active:before{background-color: $blueBg;}
            }
            &.block{display: block;}
          }
        }
      }
    }
  }
}


.headArea{position: relative; z-index: 960; width: calc(100% - 300px); margin-left: auto; padding-top: 20px;
  >.inner{margin: 0 24px; display: flex;align-items: center; justify-content: space-between;
    .backArea{
      .btnBack{position: relative; display: block; color: var(--black-white); width: 30px; height: 30px;
        >svg{width: $util-svg-size; height: $util-svg-size;}
        &:before{content: ''; opacity: 0; visibility: hidden; position: absolute; left: -5px; top: -5px; z-index: -1;
          width: 40px; height: 40px; border-radius: 50px; transition: .5s ease-in-out; background-color: var(--d-bg-hv-util-area-circle);}
      }
      &.none{display: none;}
    }

    .utilArea{
      ul{display: flex;align-items: center;}
      li{position: relative;
        .moreSubMenu{display: none; position: absolute; top: 40px; right: 0; z-index: 150;
          >ul{width: 95px;flex-direction: column; border: 1px solid var(--d-bdc); box-shadow: 0px 0px 5px 1px var(--d-bdc);
          box-sizing: border-box; background-color: var(--d-bg-at-more-sub-menu);
            >li{flex: 1; display: block; width: 100%; font-family: $d-fz; line-height: 30px; transition: .5s;
              >a,span{width: auto; height: auto; color: var(--d-c-text);text-align: center; white-space: nowrap; font-size: 0.75em;}
              &:before{display: none;}
              +li{margin-left: 0;}
            }
          }
          &.active{display: block;}
        }
        .toolTip{opacity: 0; visibility: hidden; position: absolute; top: 42px; left: -14px; transition: .5s ease-in-out; z-index: 100;
          span{display: block; min-width: 60px; padding: 5px 0; box-sizing: border-box; color: $cfff;
          font-family: $d-fz; font-size: 0.69em; border-radius: 3px; text-align: center;
          background-color: $c333;}
        }
        &:before{content: ''; opacity: 0; visibility: hidden; position: absolute; left: 50%; transform: translateX(-50%); top: -5px; z-index: -1;
        width: 40px; height: 40px; border-radius: 50px; transition: .5s ease-in-out; background-color: var(--d-bg-hv-util-area-circle);}
        button,a{display: block; color: var(--black-white);
          &:where(.btnMail,.btnShare,.btnMore){
            >svg{width: $util-svg-size; height: $util-svg-size;}
          }
          &.btnDarkMode{
            >svg{width: $util-svg-size; height: $util-svg-size;}
          }
        }
        +li{margin-left: 30px;}
      }
    }

    /* 모바일 */
    .moreArea{display: none; /*position: absolute; top: 20px; left: 20px; z-index: 1200;*/ transition: .3s;}
  }
}

.resultArea{border: 1px solid var(--d-bdc); border-radius: 4px;
  .inner{padding: 15px; box-sizing: border-box;
    >p{color: var(--c-333-white);}
    .exBox{border: 1px solid var(--c-333-white); height: 150px;
      .overflowDiv{width: 100%; height: 200px;}
    }
    .textBox{
      p{color: var(--c-333-white);
        &.eps{width: 350px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
      }
      label{font-family: $d-fz; color: var(--c-333-white);}
      +.textBox{margin-top: 30px;}
    }
  }
  +.btnArea{margin-top: 50px;}
  +.btnArea.mob{margin-top: 0;}
}

.rightArea{position: absolute; right: 0; top: 0; display: flex; justify-content: center; width: calc(100% - 300px);  
padding: 92px 0; z-index:950;
  >.inner{max-width: 1200px; flex: 1; padding: 0 100px;}
  .highlightArea{max-height: 500px;
    +.titleH2{margin-top: 20px;}
  }

  .textBox{
    label{vertical-align: middle;}
    +.textBox{margin-top: 75px;}
  }
  
  /* 본문 텍스트 */
  .mainTxt{font-size: 1em; font-family: $d-fz; line-height: 1.5;
    +.highlightArea{margin-top: 15px;}
    +.tabWrap{margin-top: 30px;}
  }
}

/* h1 ~ h3 */
.titleH1,.titleH2,.titleH3{margin-bottom: 20px; padding-bottom: 15px; font-weight: bold; 
border-bottom: 1px solid var(--d-bdc); font-family: $d-fz; color: var(--d-c-text);}
.titleH1{font-size: 2em; }
.titleH2{font-size: 1.5em;}
.titleH3{font-size: 1.25em;}      

.innerTxt{
  >strong{display: block; margin-bottom: 5px; font-size: 1.25em;}
  +.innerTxt{margin-top: 35px;} 
}

.table{
  table{width: 100%;}
  th,td{height: 30px; border: 1px solid $cddd; padding: 5px; box-sizing: border-box; font-family: $d-fz;}
  tr:first-of-type td{border-top: 0;}
  th{font-size: 0.88em; color: var(--c-333-white); background-color: var(--bg-tb-th);}

  &.noticeBoard{border-top: 7px solid #222;
    th,td{border: 1px solid #5f5f5f; font-family: $d-fz;
      &:last-child{border-right: 0;}
      &:first-child{border-left: 0;}
    }
    th{height: 65px; font-size: 1.13em; color: #3b3b3b; background-color: $cddd;}
    td{height: 40px; font-size: 1em; padding: 15px 25px 15px 25px; box-sizing: border-box; background-color: rgba($color: #f3f4f5, $alpha: 0.8);}
    .tgContRow{display: none;
      .showHideBox{display: none;}
    }
  }
}

.flex{display: flex;
  &.ac{align-items: center;}
  &.jc{justify-content: center;}
  &.sb{justify-content: space-between;}
}

.popup{display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;
box-shadow: 0px 0px 8px rgba($color: $blackBg, $alpha: 0.35);
  &.share,&.mobileResult{width: 350px;
    .cont{border-radius: 4px; text-align: center;
      .inner{padding: 20px;}
    }
  }
  &.mobileResult{min-width: 300px; max-width: 500px; width: auto;
    .cont{
      .inner{border-bottom: 1px solid var(--d-bdc);
        strong{font-size: 1.13em; font-family: $d-fz;
          +p{margin-top: 8px;}
        }
        p:last-of-type{margin-top: 5px; font-size: 0.81em;}
        .todayClose{margin-top: 10px;
          label{display: flex; align-items: center; justify-content: center;
            span{color: var(--c-333-white); font-size: 0.88em; font-family: 'Noto Sans';}
          }
        }
      }
    }
    .btnArea{width: 100%;
      button{flex: 0.5; height: 50px; border-right: 1px solid var(--d-bdc);
        &:last-child{border-right: 0;}
        &.btnConfirm{
          span{color: #1886F3;}
        }
        &.btnCancel{
          span{color: #E60A2F;}
        }
        span{display: block; line-height: 50px; font-family: $d-fz; font-weight: bold;}
      }
    }
  }
  .head{background-color: $whiteBg;
    .inner{padding: 10px; box-sizing: border-box;}
  }
  .cont{background-color: var(--d-bg-pop);
    .inner{padding: 10px; box-sizing: border-box;
      p{font-size: 0.88em; color: var(--c-333-white); font-family: $d-fz;
        +.inputArea{margin-top: 25px;}
      }
      .inputArea{
        button{height: 30px; line-height: 30px;}
        input{margin-right: 15px;}
      }
    }
  }
}

a{
  &.link{margin: 0px 5px 0 3px; color: var(--primary-type02); font-family: 'Noto Sans Medium';}
  &.mail{margin: 0px 5px 0 3px; color: var(--primary-type03); font-family: 'Noto Sans Medium';}
}

.button{display: flex; align-items: center; justify-content: center; height: 34px; line-height: 34px;
padding: 0 10px; box-sizing: border-box; border-radius: 4px; font-family: $d-fz;
font-size: 14px; color: $cfff;
  &.btnResult{
    span{margin-right: 7px;}
    svg{width: 7px; height: 11px;}
  }
  &.w75{min-width: 75px;}
  &.type01{padding: 0 10px 0 5px;}
  &.Bgblue{background-color: var(--primary);}
}

.btnArea{position: relative; display: flex;
  &.end{justify-content: flex-end;}
  &.sb{justify-content: space-between;}
  &.mob{display: none;}
}

#dimmed{display: none; position: fixed; z-index: 9998; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0,0.6); backdrop-filter: blur(2.5px);}

code[class*=language-], pre[class*=language-] pre{white-space: pre-wrap !important; padding: 16px !important; font-size: 1em !important;
word-break: break-all !important;}

// code highlight
.highlightArea{position: relative;
  .code-toolbar{
    .toolbar{top: 8px !important; right: 8px !important;}
    .toolbar-item{cursor: pointer;
      &:last-child{
        span{color: rgba($color: $cfff, $alpha: 1.0); background-color: #ed5e26 !important; font-weight: bold !important;}
      }
      button{font-size: 12px !important; padding: 0 !important;}
      span{display: inline-block !important; min-width: 40px !important; 
      padding: 0 10px !important; font-size: 0.75em !important; 
      font-family: $d-fz !important; text-align: center!important; transition: .5s !important;
        &:hover{color: $cfff !important;}
      }
      +.toolbar-item{margin-left: 5px;}
      &.scssStyle{
        span{color: $cfff; background-color: #cf649a !important;}
      }
      &.cssStyle{
        span{color: $cfff; background-color: #2693cc !important;}
      }
      &.jsStyle{
        span{color: $c000 !important; background-color: #f7e018 !important;}
      }
    }
  }
}

// update page list
.boardList{margin-top: 40px;
  ul{padding: 0;
    li{padding: 0; list-style: none; font-family: $d-fz;}
  }
  .head{color: var(--c-boardList-head); font-size: 1.13em; background: var(--bg-boardList-head);
    >ul{display: flex; padding: 0 20px; border-top: 7px solid var(--black-white); border-bottom: 1px solid #5f5f5f; 
      >li{display: inherit; justify-content: center;
        >span{line-height: 65px;}
        &:first-child{width: 12%;}
        &:last-child{flex: 1;}
      }
    }
  }

  .cont{border-bottom: 1px solid #5f5f5f; background: var(--bg-boardList-cont);
    .li{border-top: 1px solid #5f5f5f; font-size: 1em; padding: 10px 20px 10px 20px; box-sizing: border-box; cursor: pointer;
      .boardBox{display: flex;
        .boardItem{display: inherit; justify-content: center; color: var(--c-333-white);
          &:first-child{width: 12%;}
          &:last-child{flex: 1;}
        }
      }
      &:first-child{border-top: 0;}
    }
    .listShowHideBox{display: none; padding: 0 30px; box-sizing: border-box; border-top: 1px solid #5f5f5f; background: var(--bg-showHideBox);
      .inner{padding: 20px 0;
        .tit{padding-bottom: 15px; border-bottom: 1px solid $cddd;
          p{font-size: 1.13em; color: var(--c-boardList-head); font-family: $d-fz;}
          +dd{margin-top: 20px;}
        }
        dd{font-size: 0.88em; color: var(--c-333-white); font-family: $d-fz;
          &:before{content: ''; display: inline-block; width: 6px; height: 6px; border-radius: 50%; vertical-align: middle;
          margin: -4px 10px 0 0; background-color: var(--black-white);}
        }
      }
    }
  }
}

// update page pagination
.pager{display: flex; justify-content: center; align-items: center; margin-top: 60px;
  div:not(.pageNumbers){display: flex; justify-content: center; align-items: center; width: 30px; height: 30px;
  box-sizing: border-box; border: 1px solid $cddd; border-radius: 4px; cursor: pointer; font-size: 1em;
  transition: 0.35s ease-in-out;}

  .firstPage,.previousPage,.nextPage,.lastPage{
    &.disabled{cursor: default; background-color: var(--dis-bg-pagination);}
  }
  .previousPage{margin-left: 5px;}
  .nextPage{margin-right: 5px;}
  .pageNumbers{margin: 0 50px;
    >a{display: inline-block; width: 32px; height: 32px; line-height: 32px; text-align: center; font-size: 1em;
    border: 1px solid $cddd; border-radius: 4px; font-family: $d-fz; color: var(--c-pagi-num);
    transition: 0.35s ease-in-out;
      +a{margin-left: 5px;}
    }
  }
}

// result
#frameBody{display: none; position: fixed; top: 0;width: 100%; height: 100%; background-color: var(--d-bg-body); z-index: 10000;
  .container.hFull{height: 100%;}
  .btnArea{position: fixed; top: 0; right: 0; z-index: 9999;
    .frameClose{position: relative; width: 24px; height: 24px; padding: 18px; box-sizing: border-box;
    color: #000; border-radius: 0 0 0 5px; background-color: $whiteBg; z-index: 10000;}
    svg{position: absolute; top: 7px; left: 7px; width: 24px; height: 24px;}
    &.r20{right: 20px;}
  }
  .gifCont{display: none; position: fixed; width: 100%; height: 100%; background: rgba(0, 0, 0,0.6); z-index: 9990;
    .gifArea{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); border-radius: 10px; box-shadow: 0 0 5px 2px rgba($color: $whiteBg, $alpha: 0.20);
      >img{display: block; border-radius: inherit;}
    }
  }
  &.show{display: block;}
  &.hide{display: none;}
}

#toast{display: none; position: fixed; top: 120px; left: 50%; transform: translateX(-50%); 
width: 290px; padding: 12px; box-sizing: border-box; border-radius: 4px; z-index: 10000;
background-color: rgba($color: $blackBg, $alpha: 0.65);
  span{display: inline-block; text-align: center; font-size: 0.88em; color: $cfff; font-family: '맑은 고딕';}
}

.resultCont{position: relative; padding: 50px; box-sizing: border-box;
  &.middle{display: flex; align-items: center; justify-content: center; height: inherit;} //container: height 100%
}

.btnDataDownload{
  svg{margin-top: 2px;}
}

/* mixin */
@mixin bodyScrollbar($thumb,$track) {overflow: auto; scrollbar-width: thin;scrollbar-color:#303030 transparent;
  &::-webkit-scrollbar { width: 10px;height:10px; }   
  &::-webkit-scrollbar-button { display: none; }   
  &::-webkit-scrollbar-track { background-color: $track; }  
  &::-webkit-scrollbar-thumb { background: $thumb; border-radius:5px; } 
  &::-webkit-scrollbar-thumb:hover { background: var(--d-sc-hv-thumb); } 
  &::-webkit-scrollbar-thumb:active { background: var(--d-sc-at-thumb); }
}

:where(body,.cScroll,#frameBody,.resultArea .inner .exBox){
  @include bodyScrollbar(var(--d-sc-thumb),var(--d-sc-track));
}

#frameBody{
  @include bodyScrollbar(rgba($color: $whiteBg, $alpha: 0.85), $_222Bg)
}

@mixin bodyDrag{
  ::selection{color: $cfff; background-color: rgba($color: #2693cc, $alpha: 0.5);}
  ::-moz-selection{color: $cfff; background-color: rgba($color: #2693cc, $alpha: 0.5);}
}

@include bodyDrag();

/* import */
@import '../component/header.scss';
@import '../component/gnb.scss'; 
@import '../component/footer.scss';
@import '../component/layout.scss';
@import '../component/input.scss';
@import '../component/custom.scss';
@import '../component/popup.scss';
@import '../component/etc.scss';
@import '../common/media.scss';