@import '../common/variable.scss';

@media screen and (max-width:1280px){
    .titleH1{font-size: 1.75em;}
    .titleH2{font-size: 1.25em;}
    .titleH3{font-size: 1em;}
    .leftArea{
        .leftMenu>li{
            &:first-child >a{padding: 12px 0;}
            span:not(.hidden){padding: 12px 0; font-size: 1.13em; text-indent: 24px;}
            ul.leftSubMenu{padding: 14px 24px 14px 24px;
                li{
                    >a{font-size: 1em;}
                }
            }
        }
    }
    
    .wrap.pre{
        &.gnbHover,&.gnb-li-hover,&.gnbFind{
            .container{margin: 0 40px;}
        }
    }
}

@media screen and (max-width:768px){
    *{
        &::-webkit-scrollbar{display: none;}
        &.mobScroll::-webkit-scrollbar{display: block;} //모바일에서도 스크롤보이게
    }
    .leftArea{left: -300px; transition: .3s;
        .leftMenu li{
            &:first-child >a>img{width: 160px;}
            span:not(.hidden){font-size: 1em;
                &:after{background-size: 12px 7px;}
            }
            &.active{
                span:after{background-size: 12px 7px;}
            }
            ul.leftSubMenu{
                li a{font-size: 0.88em;}
            }
        }
        &.active{left: 0;
            ~.headArea{width: calc(100% - 300px);}
            ~.rightArea{left: 300px;}
        }
    }

    .headArea{width: 100%; transition: .3s;
        >.inner{
            .utilArea{transition: .3s;
                li{
                    a.btnMail{width: 22px; height: 22px; background-size: 22px 22px;}
                    button{
                        &.btnShare{width: 22px; height: 22px; background-size: 22px 22px;}
                        &.btnMore{width: 22px; height: 22px; background-size: 22px 22px;}
                    }
                    &:before{width: 34px; height: 34px;}
                }
            }
            .moreArea{display: block;
                &.active{left: 320px;} 
            }
            .backArea{display: none !important;}
        }
    }
    
    .rightArea{left: 0; width: auto; transition: .3s; padding: 85px 0 20px 0; margin: 0 24px;
        >.inner{padding: 0;}
        .mainTxt{font-size: 0.88em;}
    }

    .resultArea{
        >.inner{padding: 10px;}
    }

    .topArea{display: none !important;}

    .innerTxt > strong{font-size: 1.13em;}

    .titleH1{font-size: 1.63em; padding-bottom: 10px; margin-bottom: 15px;}
    .titleH2{font-size: 1.13em;}
    .titleH3{font-size: 0.88em;}

    .popup{
        &.share{width: 300px;
            .cont .inner{padding: 15px;
                p{font-size: 0.75em;
                    +.inputArea{margin-top: 15px;}
                }
                .inputArea{
                    input{margin-right: 10px;}
                    button{font-size: 0.75em; min-width: 65px;}
                }
            }
        }
    }

    .tabWrap.type01{margin-bottom: 20px;
        >.tabNav{margin-bottom: 10px;
            >.tabList{border-width: 1px;
                >li{height: 30px; line-height: 30px; font-size: 1em;
                    &.active{
                        &:before{height: 2px;}
                    }
                }
            }
        }
    }

    .btnArea{
        .button{align-items: baseline; height: 30px; line-height: 30px; font-size: 0.75em;}
    }

    i.ico{
        &.result{width: 5px; height: 9px; margin-left: 5px; background-size: 5px 9px;}
    }

    .highlightArea .code-toolbar .toolbar-item span{padding: 0 5px !important; font-size: 0.69em !important;}

    #frameBody{
        .wrap.pre{
            //전체 해상도일경우
            &.allRes{
                >.container{display: block;}
            }
            >.container{display: none;}
            .gifCont{display: block;}

            &.bgImage{
                :where(.resultCont.type01,.resultCont.type02){display: none;}
            }

            &.floating{height: auto;
                #floatingMenu{display: none;}
            }
            &.gnbHover,&.gnb-li-hover,&.gnbFind{
                .container{width: auto; padding: 60px 20px 0 20px;
                    #gnb ul.menuList>li{
                        >a{font-size: 1.13em;}
                        .depthTwo>li>a{font-size: 0.88em;}
                    }
                }
            }
            &.gnbFind{
                #gnb ul.menuList li{min-width: 90px;}
            }
            .gifCont .gifArea >img{width: 95vw;}

            &.leftMenu{
                .leftAreaType02{
                    >.leftMenu li{
                        span{font-size: 1.13em;}
                    }
                }
            }
        }
    }

    .titleH2,.resultArea{
        &.web{display: none;}
    }
    .btnArea.mob{display: flex;}

    .leftArea>.leftMenu>li{
        >ul.leftSubMenu li{
            a>.depthToggle{width: 17px; height: 17px; top: 0; background-size: 17px 17px;}
            &.on a>.depthToggle{top: 10px; background-size: 14px auto;}
        }
        &.active span:after{right: 31px;}
    }
}

@media screen and (max-width:600px){
    .highlightArea{
        &::-webkit-scrollbar{display: none;}
    }
    .leftArea{
        &.active{min-width: 40%; max-width: 200px;
            ~.rightArea{left: 0; margin: 0; transform: translate(calc(100% - 80px),0);}
            ~.headArea{width: 100%;transform: translate(calc(100% - 100px),0);}
        }
    }
    #frameBody .wrap.pre{
        &.leftMenu{
            .leftAreaType02{
                >.leftMenu li{
                    span{font-size: 1em;
                        &:after{width: 13px; height: 7px; background-size: 13px 7px;}
                    }
                }
            }
        }
    }
}

@media screen and (max-width:500px){
    #container{flex-direction: column;}
}


/* hover */

@media (hover: hover){
    a{
        &.link:hover{text-decoration: underline;}
        &.mail:hover{text-decoration: underline;}
    }

    .headArea > .inner .utilArea li{
        button,a{
            &.btnMail{
                &:hover{
                    .toolTip.mail{opacity: 1; visibility: visible;}
                }
            }
              &.btnShare{
                &:hover{
                  .toolTip.share{opacity: 1; visibility: visible;}
                }
            }
              &.btnMore{
                &:hover{
                  .toolTip.more{opacity: 1; visibility: visible;}
                }
            }
              &.btnDarkMode{
                &:hover{
                  .toolTip.more{opacity: 1; visibility: visible;}
                }
            }
        }
        &:hover{
            &:before{opacity: 1; visibility: visible;}
        }
    }

    .leftArea > .leftMenu > li > ul.leftSubMenu li a:hover{text-decoration: underline;}
    .headArea > .inner .utilArea li .moreSubMenu > ul > li:hover{background-color: rgba($color: $cccBg, $alpha: 0.8);}
    #wrap.main .btnStart{
        &:hover{
            &:before{transform: scaleX(1);}
            span{color: $c333;
                &:after{background: url("../../images/ico/ico-arrow-right-bk-shw.png")no-repeat center;}
            }
        }
    }
    #wrap.err .bottomDiv a:hover{text-decoration: underline;}
    .topArea .backtoTop{
        &:hover{background-color: $blackBg;
            svg{stroke: $whiteBg; fill: $whiteBg;}
        }
    }
    .headArea > .inner .backArea .btnBack:hover:before{opacity: 1; visibility: visible;}
    .boardList .cont .li .boardBox .boardItem:last-child.underLine:hover{text-decoration: underline;}
    .pager{
        div:not(.pageNumbers):hover:not(.disabled){border-color: $blackBg;}
        .pageNumbers > a.active,.pageNumbers > a:hover{border-color: $blackBg; color: rgba($color: $blackBg, $alpha: 1.0)}
        .firstPage:hover:not(.disabled){background: url("../../images/ico/ico-pagi-first-hover.png")no-repeat center;}
        .previousPage:hover:not(.disabled){background: url("../../images/ico/ico-pagi-prev-hover.png")no-repeat center;}
        .nextPage:hover:not(.disabled){background: url("../../images/ico/ico-pagi-next-hover.png")no-repeat center;}
        .lastPage:hover:not(.disabled){background: url("../../images/ico/ico-pagi-last-hover.png")no-repeat center;}
    }
}

@media (prefers-color-scheme: light) {
    body{
        --d-bg: #fff;
    }
}


@media (prefers-color-scheme: dark) {
    // :root[data-theme='dark']{
    //     --background: #{$body};
    // }

    body{
        --d-bg: #121212;
    }
}

