@import '../common/variable.scss';
 
@media screen and (max-width:1280px){
    .titleH1{font-size: 1.75em;}
    .titleH2{font-size: 1.25em;}
    .titleH3{font-size: 1em;}
    .rightArea>.inner{padding: 0 60px;}
    .leftArea{
        .leftMenu>li{
            &:first-child >a{padding: 12px 0;}
            span>a{padding: 12px 0; font-size: 1.13em; text-indent: 24px;
                svg{width: 27px; height: 15px; top: 21px;}
            }
            ul.leftSubMenu{padding: 14px 24px 14px 24px;
                li{
                    >a{font-size: 1em;
                        svg{top: 4px;}
                    }
                    >.dep3>li>a{font-size: 0.906em;}
                    &.on>a svg.fold{top: 13px;}
                }
            }
            &.active span a svg{top: 18px;}
        }
    }
    
    .wrap.pre{
        &.gnbHover,&.gnb-li-hover,&.gnbFind{
            .container{margin: 0 40px;}
        }
        &.flexLayout{
            .resultCont .container .flexArea{
                .flexItem{width: 120px; height: 120px;}
                &.fe-wrap,&.fe-wrap-re{width: 390px;}
                &.flexWrap{width: 350px;}
            }
        }
    }
}

@media screen and (max-width:768px){
    *{
        &::-webkit-scrollbar{display: none;}
        &.mobScroll::-webkit-scrollbar{display: block;} //모바일에서도 스크롤보이게
    }
    .mainTxt p.web{display: none;}
    .leftArea{left: -301px; transition: .3s;
        .leftMenu li{
            &:first-child >a>img{width: 53%;}
            span>a{font-size: 1em;
                svg{top: 20px; width: 20px; height: 14px;}
            }
            ul.leftSubMenu{
                li{
                    a{font-size: 0.88em;
                        svg{
                            &.unfold{width: 14px; height: 14px;}
                            
                        }
                    }
                    .dep3{
                        >li{padding-bottom: 5px;
                            >a{font-size: 0.750em;}
                            &:before{top: 7px; width: 5px; height: 5px;}
                        }
                    }
                    &.on>a svg.fold{width: 12px; top: 11px;}
                }
            }
            &.active span a svg{top: 17px;}
        }
        &.active{left: 0;
            ~.headArea{width: calc(100% - 300px);}
            ~.rightArea{left: 300px;}
        }
    }

    .headArea{width: 100%; transition: .3s; padding-top: 30px;
        >.inner{
            .utilArea{transition: .3s;
                li{
                    a.btnMail{
                        svg{width: 22px; height: 22px;}
                    }
                    button{
                        &.btnShare,&.btnMore {
                            svg{width: 22px; height: 22px;}
                        }
                        &.btnDarkMode svg{width: 22px; height: 22px;}
                    }
                    // &:before{width: 34px; height: 34px;}
                }
            }
            .moreArea{display: flex;
                .btnMobileMore{color: var(--c-333-white);}
                &.active{left: 320px;} 
            }
            .backArea{display: none !important;}
        }
    }
    
    .rightArea{left: 0; width: auto; transition: .3s; padding: 85px 0 20px 0; margin: 0 24px;
        >.inner{padding: 0;}
        .mainTxt{font-size: 0.88em;}
    }

    .resultArea{
        >.inner{padding: 10px;}
    }

    .topArea{display: none !important;}

    .innerTxt > strong{font-size: 1.13em;}

    .titleH1{font-size: 1.63em; padding-bottom: 10px; margin-bottom: 15px;}
    .titleH2{font-size: 1.13em;}
    .titleH3{font-size: 0.88em;}

    .popup{
        &.share{width: 300px;
            .cont .inner{padding: 15px;
                p{font-size: 0.75em;
                    +.inputArea{margin-top: 15px;}
                }
                .inputArea{
                    input{margin-right: 10px;}
                    button{font-size: 0.75em; min-width: 65px;}
                }
            }
        }
    }

    .tabWrap.type01{margin-bottom: 20px;
        >.tabNav{margin-bottom: 10px;
            >.tabList{border-width: 1px;
                >li{height: 30px; line-height: 30px; font-size: 1em;
                    &.active{
                        &:before{height: 2px;}
                    }
                }
            }
        }
    }

    .btnArea{
        .button{align-items: center; height: 30px; line-height: 30px; font-size: 0.75em;}
    }

    i.ico{
        &.result{width: 5px; height: 9px; margin-left: 5px; background-size: 5px 9px;}
    }

    .highlightArea .code-toolbar .toolbar-item span{padding: 0 5px !important; font-size: 0.69em !important;}

    #frameBody{
        .wrap.pre{
            //전체 해상도일경우
            &.allRes{
                >.container{display: block;}
            }
            >.container{display: none;}
            .gifCont{display: block;}

            &.bgImage{
                :where(.resultCont.type01,.resultCont.type02){display: none;}
            }

            &.floating{height: auto;
                #floatingMenu{display: none;}
            }
            &.gnbHover,&.gnb-li-hover,&.gnbFind{
                .container{width: auto; padding: 60px 20px 0 20px;
                    #gnb ul.menuList>li{
                        >a{font-size: 1.13em;}
                        .depthTwo>li>a{font-size: 0.88em;}
                    }
                }
            }
            &.gnbFind{
                #gnb ul.menuList li{min-width: 90px;}
            }
            .gifCont .gifArea >img{width: 95vw;}

            &.leftMenu{
                .leftAreaType02{
                    >.leftMenu li{
                        span{font-size: 1.13em;}
                    }
                }
            }
            &.flexLayout{
                .resultCont .container .flexArea{
                    .flexItem{width: 100px; height: 100px;}
                    &.fe-wrap,&.fe-wrap-re,&.flexWrap{width: 250px;}
                }
            }
        }
    }

    .titleH2,.resultArea{
        &.web{display: none;}
    }
    .btnArea.mob{display: flex;}

    .leftArea>.leftMenu>li{
        >ul.leftSubMenu li{
            a>.depthToggle{width: 17px; height: 17px; top: 0; background-size: 17px 17px;}
            &.on a>.depthToggle{top: 10px; background-size: 14px auto;}
        }
        &.active span:after{right: 31px;}
    }

    .tagGroup .tag{font-size: 0.813em;}
    #wrap{
        &.update{
            .boardList{
                .head{font-size: 1em;}
                .cont .li{font-size: 0.875em;}
                .listShowHideBox{
                    .tit p{font-size: 1em;}
                    dd{font-size: 0.813em;}
                }
            }
        }
    }
    .pager{margin-top: 45px;}
}

@media screen and (max-width:600px){
    .highlightArea{
        &::-webkit-scrollbar{display: none;}
    }
    .leftArea{
        &.active{max-width: calc(100% - 100px);
            ~.rightArea{left: 0; margin: 0; transform: translate(calc(100% - 80px),0);}
            ~.headArea{width: 100%;transform: translate(calc(100% - 100px),0);}
        }
    }
    #frameBody .wrap.pre{
        &.leftMenu{
            .leftAreaType02{
                >.leftMenu li{
                    span{font-size: 1em;
                        &:after{width: 13px; height: 7px; background-size: 13px 7px;}
                    }
                }
            }
        }
    }
}

@media screen and (max-width:500px){
    #wrap{
        &.license #container{flex-direction: column;
            #contents{width: auto; max-width: 1200px;}
        }
        &.update{
            .boardList{
                .head{font-size: 0.875em;}
                .cont .li{font-size: 0.813em;}
            }
        }
    }
    #frameBody .wrap.pre{
        &.flexLayout{
            .resultCont .container .flexArea{
                &.fe-wrap,&.fe-wrap-re,&.flexWrap{width: 140px;}
                .flexItem{width: 50px; height: 50px;
                    span{font-size: 0.75em;}
                }
            }
        }
    }
    .tagGroup .tag{min-width: 40px; height: 20px; line-height: 20px; font-size: 0.688em;}
    .pager{
        .pageNumbers{margin: 0 30px;
            > a{width: 26px; height: 26px; line-height: 26px; font-size: 0.875em;}
        }
        div:not(.pageNumbers){width: 26px; height: 26px; font-size: 0.875em;}
    }
}


/* hover */

@media (hover: hover){
    a{
        &.link:hover{text-decoration: underline;}
        &.mail:hover{text-decoration: underline;}
    }

    .headArea > .inner .utilArea li{
        button,a{
            &.btnMail{
                &:hover{
                    .toolTip.mail{opacity: 1; visibility: visible;}
                }
            }
              &.btnShare{
                &:hover{
                  .toolTip.share{opacity: 1; visibility: visible;}
                }
            }
              &.btnMore{
                &:hover{
                  .toolTip.more{opacity: 1; visibility: visible;}
                }
            }
              &.btnDarkMode{
                &:hover{
                  .toolTip{
                      &.dk,&.lgt{opacity: 1; visibility: visible;}
                  }
                }
            }
        }
        &:hover{
            &:before{opacity: 1; visibility: visible;}
        }
    }

    .leftArea > .leftMenu > li > ul.leftSubMenu li a:hover{text-decoration: underline;}
    .headArea > .inner .utilArea li .moreSubMenu > ul > li:hover{background-color: var(--d-bg-hv-more-sub-menu-item);}
    #wrap.main .btnStart{
        &:hover{
            &:before{transform: scaleX(1);}
            span{color: $c333;
                &:after{background: url("../../images/ico/ico-arrow-right-bk-shw.png") no-repeat center;}
            }
        }
    }
    #wrap.err .bottomDiv a:hover{text-decoration: underline;}
    .headArea > .inner .backArea .btnBack:hover:before{opacity: 1; visibility: visible;}
    .boardList .cont .li .boardBox .boardItem:last-child.underLine:hover{text-decoration: underline;}
    .pager{
        div:not(.pageNumbers):hover:not(.disabled){border-color: var(--bdc-hv-pagination);}
        .pageNumbers > a.active,.pageNumbers > a:hover{border-color: var(--bdc-hv-pagination); color: var(--bdc-hv-pagination)}
    }
}

@media (prefers-color-scheme: light) {
    body{
        /* bg */
        --d-bg-body: #fff;
        --d-bg-left-menu:#f5f5f5;
        --d-bg-left-menu-dep2: #eee;
        --d-bg-at-more-sub-menu: #f3f4f5;
        --d-bg-hv-more-sub-menu-item: rgba(204, 204, 204, 0.8);
        --d-bg-hv-util-area-circle: rgba(221, 221, 221, 0.5);
        --d-bg-pop: #fff;
        --bg-tb-th: #f5f5f5;
        --d-bg-skeleton: #dee2e6;
        --bg-showHideBox:rgba(243,244,245,0.8);

        /* color */
        --d-c-text: #202020;

        /* primary & common */
        --primary: #266bf7;
        --primary-type02: #266bf7;
        --primary-type03: #1694d2;
        --primary-shadow: rgba(49, 132, 253, 0.5);
        --primary-hover: #0d61e0;
        --black-white: #000;
        --white-black21: #fff;
        --c-333-white: #333;

        /* sc */
        --d-sc-thumb: #D3D1CB;
        --d-sc-track: #EDECE9;
        --d-sc-hv-thumb: #AEACA6;
        --d-sc-at-thumb: #808080;

        /* pagination */
        --dis-bg-pagination: rgba(204,204,204,0.5);
        --bdc-hv-pagination: #000;
        --c-pagi-num:rgba(34, 34, 34, 0.5);

        /* boardList */
        --bg-boardList-head: #ddd;
        --c-boardList-head: #3b3b3b;
        --bg-boardList-cont: rgba(243,244,245,0.8);

        /* input & select */
        --d-bg-input: #fff;
        --d-bg-select: #fff;
        --bg-chk: #fff;

        /* etc */
        --d-bdc: #ddd;
        --d-fb-box: #000;
        --dis-c-left-menu-dep2: #ccc;
        --img-light: inline-block;
        --img-dark: none;
        --mark-dep3: rgba(32, 32, 32, 0.75);
    }
}


@media (prefers-color-scheme: dark) {
    body{
        /* bg */
        --d-bg-body: #181818;
        --d-bg-left-menu:#212121;
        --d-bg-left-menu-dep2: #1e1f21;
        --d-bg-at-more-sub-menu: #2d2d2d;
        --d-bg-hv-more-sub-menu-item: #53575c;
        --d-bg-hv-util-area-circle: rgba(255,255,255,0.1);
        --d-bg-pop: #313131;
        --bg-tb-th: #444;
        --d-bg-skeleton: #2e2e2e;
        --bg-showHideBox:#343434;

        /* color */
        --d-c-text: #fff;
        
        /* primary & common */
        --primary: #2196F3;
        --primary-type02: rgba(89,148,241,1);
        --primary-type03: rgba(149,196,232,1);
        --black-white: #fff;
        --ddd-black21: #212121;
        --c-333-white: #fff;

        /* sc */
        --d-sc-thumb: #474C50;
        --d-sc-track: #272727;
        --d-sc-hv-thumb: #585959;
        --d-sc-at-thumb: #b6b6b6;

        /* pagination */
        --dis-bg-pagination: #333;
        --bdc-hv-pagination: #999;
        --c-pagi-num:#fff;

        /* boardList */
        --bg-boardList-head: #333;
        --c-boardList-head: #fff;
        --bg-boardList-cont: #212121;

        /* input & select */
        --d-bg-input: #333;
        --d-bg-select: #121212;
        --bg-chk: #333;

        /* etc */
        --d-bdc: #3a3b3d;
        --d-fb-box: #555;
        --dis-c-left-menu-dep2: #717171;
        --img-light: none;
        --img-dark: inline-block;
        --mark-dep3: rgba(242, 241, 241, 1);
    }
}

