
/* text color */
$c20 : #202020 !default;  
$c333 : #333 !default;
$c70 : #707070 !default;
$cddd : #ddd !default;
$cfff : #fff !default;
$d-fz : 'Noto Sans'; //기본 폰트
$emphasisType01 : #266bf7 !default;
$emphasisType02: #1694d2 !default;

/* background */
$blueBg : $emphasisType01;
$whiteBg : $cfff;