/* text color */
/* background */
.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.wrap.pre.centerEle .resultCont {
  position: relative;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap.pre.centerEle .resultCont.type01 {
  height: 100%;
}

.wrap.pre.centerEle .resultCont.type01 .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap.pre.centerEle .resultCont.type02 .innerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.wrap.pre.centerEle .resultCont.type03 {
  height: 100%;
}

.wrap.pre.centerEle .resultCont.type03 .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrap.pre.centerEle .titleH3 {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.wrap.pre.centerEle .centerBox {
  padding: 50px;
  border: 2px solid #000;
  font-size: 22px;
  font-family: 'Noto Sans';
}

.wrap.pre.bgImage .resultCont {
  position: relative;
}

.wrap.pre.bgImage .resultCont .imgDiv {
  height: 600px;
  background-image: url("../images/common/1903x600.png");
  background-repeat: no-repeat;
}

.wrap.pre.bgImage .resultCont.type01 .imgDiv {
  background-size: cover;
}

.wrap.pre.bgImage .resultCont.type02 .imgDiv {
  background-size: 100% 100%;
}

.wrap.pre.bgImage .resultCont + .resultCont {
  margin-top: 50px;
}

.wrap.pre.leftMenu .leftAreaType02 {
  position: fixed;
  left: 0;
  width: 300px;
  height: 100%;
  overflow-y: auto;
  z-index: 1100;
  background-color: #1C253D;
  -webkit-box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.5);
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li {
  position: relative;
  cursor: pointer;
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li.noDepth span:after {
  display: none;
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li span {
  position: relative;
  display: block;
  padding: 16px 0;
  text-indent: 28px;
  font-family: 'Noto Sans Light';
  font-size: 22px;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li span:after {
  content: '';
  width: 15px;
  height: 9px;
  position: absolute;
  top: 50%;
  right: 28px;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../images/ico/ico-down.svg") no-repeat;
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li a {
  display: block;
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li > a {
  display: block;
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li > ul.leftSubMenu {
  display: none;
  background-color: #273147;
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li > ul.leftSubMenu li {
  height: 55px;
  line-height: 57px;
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li > ul.leftSubMenu li a {
  display: block;
  font-family: 'Noto Sans';
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  text-indent: 50px;
  font-family: 'Noto Sans Light';
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li > ul.leftSubMenu li a:hover {
  background-color: #485162;
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li > ul.leftSubMenu li.active a {
  color: #266bf7;
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li.active span {
  background-color: #5869F0;
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li.active span:after {
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
  background: url("../../images/ico/ico-down-w.svg") no-repeat;
}

.wrap.pre.floating.h2000 {
  height: 2000px;
}

.wrap.pre.floating #floatingMenu {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.wrap.pre.floating #floatingMenu .menuArea .btnMenuList {
  width: 56px;
  height: 56px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
  background: #333 url("../../images/ico/ico-plus-w.png") no-repeat center;
}

.wrap.pre.floating #floatingMenu .menuArea .btnMenuList:hover ul.menuList li {
  visibility: visible;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.wrap.pre.floating #floatingMenu .menuArea ul.menuList {
  position: absolute;
  top: -211px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap.pre.floating #floatingMenu .menuArea ul.menuList li {
  visibility: hidden;
  -webkit-transform: translateY(0) scale(0);
          transform: translateY(0) scale(0);
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: 0.03s;
          transition-delay: 0.03s;
  margin: 0 auto;
  width: 56px;
  height: 56px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
  background-color: #333;
}

.wrap.pre.floating #floatingMenu .menuArea ul.menuList li a {
  display: block;
  width: inherit;
  height: inherit;
}

.wrap.pre.floating #floatingMenu .menuArea ul.menuList li + li {
  margin-top: 15px;
}

.tabWrap .tabCont {
  display: none;
}

.tabWrap .tabCont.active {
  display: block;
}

.tabWrap .tabNav .tabList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabWrap.type01 {
  margin-bottom: 30px;
}

.tabWrap.type01 > .tabNav {
  margin-bottom: 15px;
}

.tabWrap.type01 > .tabNav > .tabList {
  border-bottom: 2px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.tabWrap.type01 > .tabNav > .tabList > li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 35px;
  line-height: 35px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  color: #000;
  font-family: 'Noto Sans';
}

.tabWrap.type01 > .tabNav > .tabList > li.orange.active:before {
  background-color: #ed5e26;
}

.tabWrap.type01 > .tabNav > .tabList > li.pink.active:before {
  background-color: #cf649a;
}

.tabWrap.type01 > .tabNav > .tabList > li.blue.active:before {
  background-color: #2693cc;
}

.tabWrap.type01 > .tabNav > .tabList > li.yellow.active:before {
  background-color: #f7e018;
}

.tabWrap.type01 > .tabNav > .tabList > li.active {
  font-weight: bold;
}

.tabWrap.type01 > .tabNav > .tabList > li.active:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -1px;
  left: 0;
}

.tabWrap.typeEx > .tabNav > .tabList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  color: #222;
}

.tabWrap.typeEx > .tabNav > .tabList > li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  font-family: 'Noto sans';
}

.tabWrap.typeEx > .tabNav > .tabList > li.active {
  border-radius: 4px 0 0 4px;
  font-weight: bold;
  color: #fff;
  background-color: #266bf7;
}

.tabWrap.typeEx > .tabNav > .tabList > li.active:last-child {
  border-radius: 0 4px 4px 0;
}
/*# sourceMappingURL=layout.css.map */