<!DOCTYPE html>
<html lang="ko">

<head>
  @@include('include/head.html')
</head>

<body>
  <div id="wrap">
    <div id="container">
      <div class="leftArea cScroll">
        <ul class="leftMenu">
          <li>
            <a href="../../html/main.html" title="메인으로">
              <img src="../../images/common/logo.png" alt="서브 메인로고" />
              <span class="hidden">메인으로</span>
            </a>
          </li>
          <li class="noDepth">
            <span>
              <a href="../../html/sub_first.html" title="홈">Home</a>
            </span>
          </li>
          <li>
            <span title="Header">Header</span>
            <ul class="leftSubMenu">
              <li>
                <a href="../header/header-header-fixed.html" title="Header fixed">Header fixed</a>
              </li>
              <li>
                <a href="../header/hedaer-header-toggle.html" title="Header Toggle">Header Toggle</a>
              </li>
              <li>
                <a href="../header/header-header-sticky.html" title="Sticky Header">Sticky Header</a>
              </li>
            </ul>
          </li>
          <li>
            <span title="GNB">GNB</span>
            <ul class="leftSubMenu">
              <li>
                <a href="../gnb/gnb-hover-full-dropdown.html" title="GNB Hover Full Dropdown">GNB Hover Full
                  Dropdown</a>
              </li>
              <li>
                <a href="../gnb/gnb-menu-hover-full-dropdown.html" title="GNB Menu hover Full Dropdown">GNB Menu
                  hover Full Dropdown</a>
              </li>
              <li>
                <a href="../gnb/gnb-hoverable-dropdown.html" title="GNB Hoverable Dropdown">GNB Hoverable
                  Dropdown</a>
              </li>
            </ul>
          </li>
          <li>
            <span title="Footer">Footer</span>
            <ul class="leftSubMenu">
              <li>
                <a href="../footer/footer-footer-basic.html" title="Footer basic">Footer basic</a>
              </li>
              <li>
                <a href="../footer/footer-footer-fixed.html" title="Footer fixed">Footer fixed</a>
              </li>
            </ul>
          </li>
          <li class="active">
            <span title="Layout">Layout</span>
            <ul class="leftSubMenu block">
              <li class="active">
                <a href="../layout/layout-centerEle.html" title="Center element">Center element</a>
              </li>
              <li>
                <a href="../layout/layout-tab.html" title="Tab">Tab</a>
              </li>
              <li>
                <a href="../layout/layout-bg-image.html" title="Background-image 100%">Background-image 100%</a>
              </li>
              <li>
                <a href="../layout/layout-leftMenu.html" title="Left menu">Left menu</a>
              </li>
              <li>
                <a href="../layout/layout-floatingMenu.html" title="Floating menu">Floating menu</a>
              </li>
              <li class="disabled">
                <a href="#none" title="Slide">Slide</a>
              </li>
              <li>
                <a href="../layout/layout-flex.html" title="Flex">Flex</a>
              </li>
              <li class="disabled">
                <a href="#none" title="Grid">Grid</a>
              </li>
            </ul>
          </li>
          <li>
            <span title="Input">Input</span>
            <ul class="leftSubMenu">
              <li>
                <a href="../input/input-inputStyle.html" title="Input">input</a>
              </li>
              <li>
                <a href="../input/input-radioStyle.html" title="Radio">radio</a>
              </li>
              <li>
                <a href="../input/input-selectStyle.html" title="Select">select</a>
              </li>
              <li>
                <a href="../input/input-textareaStyle.html" title="textarea">textarea</a>
              </li>
              <li>
                <a href="../input/input-chkboxStyle.html" title="checkbox">checkbox</a>
              </li>
            </ul>
          </li>
          <li>
            <span title="Scroll element">Scroll element</span>
            <ul class="leftSubMenu">
              <li>
                <a href="../scrollele/scroll-ele-table.html" title="Table inner scroll">Table inner scroll</a>
              </li>
              <li>
                <a href="../scrollele/scroll-ele-overflow.html" title="Overflow scroll">Overflow scroll</a>
              </li>
            </ul>
          </li>
          <li>
            <span title="Custom">Custom</span>
            <ul class="leftSubMenu">
              <li>
                <a href="../custom/custom-contextMenu.html" title="Context Menu">Context Menu</a>
              </li>
              <li>
                <a href="../custom/custom-scroll.html" title="Scroll design">Scroll design</a>
              </li>
              <li>
                <a href="../custom/custom-toolTip.html" title="toolTip">toolTip</a>
              </li>
            </ul>
          </li>
          <li>
            <span title="Popup">Popup</span>
            <ul class="leftSubMenu">
              <li>
                <a href="../popup/popup-popup-showhide.html" title="Popup show/hide">Popup show/hide</a>
              </li>
              <li>
                <a href="../popup/popup-toast.html" title="Toast popup">Toast popup</a>
              </li>
              <li>
                <a href="../popup/popup-drag.html" title="Drag popup">Drag popup</a>
              </li>
            </ul>
          </li>
          <li>
            <span title="Etc">Etc</span>
            <ul class="leftSubMenu">
              <li class="dep3Cont">
                <a href="#none" title="Animation element">Animation element
                  <i class="depthToggle">
                    <span class="hidden">3뎁스 아이콘</span>
                  </i>
                </a>
                <ul class="dep3">
                    <li>
                      <a href="#" title="Top button">Top button</a>
                    </li>
                    <li>
                      <a href="#" title="Transform button">Transform button</a>
                    </li>
                    <li>
                      <a href="#" title="Rotate element">Rotate element</a>
                    </li>
                    <li>
                      <a href="#" title="Boarder animation">Boarder animation</a>
                    </li>
                    <li>
                      <a href="#" title="Fade in/out">Fade in/out</a>
                    </li>
                    <li>
                      <a href="#" title="Accordion">Accordion</a>
                    </li>
                </ul>
              </li>
              <li>
                <a href="#" title="Text ellipsis">Text ellipsis</a>
              </li>
              <li class="disabled">
                <a href="#none" title="Key frames">Key frames</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      @@include('include/util.html')

      <div class="rightArea">
        <div class="inner">
          <div class="textBox">
            <div class="titleH1">
              <h1>Center element</h1>
            </div>
            <div class="tabWrap type01">
              <div class="tabNav">
                <ul class="tabList">
                  <li class="active orange">HTML</li>
                  <li class="pink">SCSS</li>
                  <li class="blue">CSS</li>
                </ul>
              </div>

              <div class="tabCont active">
                <div class="highlightArea cScroll">
                  <pre>
                              <code class="language-html">
&lt;div class="resultCont type01"&gt;
    &lt;div class="titleH3"&gt;
        &lt;h3&gt;Flex를 이용한 가운데 정렬&lt;/h3&gt;
    &lt;/div&gt;
    &lt;div class="container"&gt;
        &lt;div class="centerBox"&gt;
            &lt;span&gt;가운데 정렬&lt;/span&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class="resultCont type02"&gt;
    &lt;div class="titleH3"&gt;
        &lt;h3&gt;Flex + vh를 이용한 가운데 정렬&lt;/h3&gt;
    &lt;/div&gt;
    &lt;div class="container"&gt;
        &lt;div class="innerBox"&gt;
            &lt;div class="centerBox"&gt;
                &lt;span&gt;가운데 정렬&lt;/span&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class="resultCont type03"&gt;
    &lt;div class="titleH3"&gt;
        &lt;h3&gt;position을 이용한 가운데 정렬&lt;/h3&gt;
    &lt;/div&gt;
    &lt;div class="container"&gt;
        &lt;div class="centerBox"&gt;
            &lt;span&gt;가운데 정렬&lt;/span&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                              </code>
                            </pre>
                </div>
              </div>

              <div class="tabCont">
                <div class="highlightArea cScroll">
                  <pre>
                              <code class="language-scss">
.resultCont{position: relative; padding: 50px; box-sizing: border-box;
    &.type01{height: 100%; 
        .container{height: 100%; display: flex; align-items: center; justify-content: center;}
    }
    &.type02{
        .innerBox{display: flex; align-items: center; justify-content: center; height: 100vh;
    }
    }
    &.type03{height: 100%;
        .container{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
    }
}
.titleH3{margin-bottom: 0; padding-bottom: 10px;}
.centerBox{padding: 50px; border: 2px solid #000; font-size: 22px; font-family: 'Noto Sans';}
                              </code>
                          </pre>
                </div>
              </div>

              <div class="tabCont">
                <div class="highlightArea cScroll">
                  <pre>
                              <code class="language-css">
.resultCont {
    position: relative;
    padding: 50px;
    box-sizing: border-box;
}

.resultCont.type01 {
    height: 100%;
}

.resultCont.type01 .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultCont.type02 .innerBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.resultCont.type03 {
    height: 100%;
}

.resultCont.type03 .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.titleH3 {
    margin-bottom: 0;
    padding-bottom: 10px;
}

.centerBox {
    padding: 50px;
    border: 2px solid #000;
    font-size: 22px;
    font-family: 'Noto Sans';
}
                              </code>
                            </pre>
                </div>
              </div>
            </div>
            <div class="btnArea end">
              <button type="button" class="button Bgblue btnResult">
                <span>결과보기</span>
                <i class="ico result"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="frameBody" class="overflow-y">
      <div id="toast">
        <span>Esc 혹은 우측 상단 X 버튼을 눌러 결과창을 닫을 수 있습니다. </span>
      </div>
      <div class="btnArea">
        <button type="button" class="frameClose">
          <span class="hidden">프레임 창닫기</span>
        </button>
      </div>
      <div class="wrap pre centerEle">
        <div class="resultCont type01">
          <div class="titleH3">
            <h3>Flex를 이용한 가운데 정렬</h3>
          </div>
          <div class="container">
            <div class="centerBox">
              <span>가운데 정렬</span>
            </div>
          </div>
        </div>

        <div class="resultCont type02">
          <div class="titleH3">
            <h3>Flex + vh를 이용한 가운데 정렬</h3>
          </div>
          <div class="container">
            <div class="innerBox">
              <div class="centerBox">
                <span>가운데 정렬</span>
              </div>
            </div>
          </div>
        </div>

        <div class="resultCont type03">
          <div class="titleH3">
            <h3>position을 이용한 가운데 정렬</h3>
          </div>
          <div class="container">
            <div class="centerBox">
              <span>가운데 정렬</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    @@include('include/popup-share.html')

    <div class="popup mobileResult">
      <div class="cont">
          <div class="inner">
            <strong>결과를 보기 전에 잠깐!</strong>
            <p>모바일 환경에서는 코드 결과가 gif로 표시됩니다.</p>
            <p>그래도 결과를 볼까요?</p>
            <p>(제대로 된 결과를 보려면 노트북 또는 데스크탑에서 실행해주세요.)</p>
            <div class="todayClose">
              <label for="todayChk" class="todayChkClose">
                  <input type="checkbox" id="todayChk">
                  <span>오늘 하루 그만보기</span>
              </label>
            </div>
          </div>
          <div class="btnArea">
            <button type="button" class="btnCancel">
              <span>취소</span>
            </button>
            <button type="button" class="btnConfirm">
              <span>확인</span>
            </button>
        </div>
      </div>
    </div>
    <div id="dimmed"></div>

    <div class="topArea">
      <button type="button" class="backtoTop">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <polygon fill-rule="evenodd"
            points="13 5.414 13 22 11 22 11 5.414 4.707 11.707 3.293 10.293 12 1.586 20.707 10.293 19.293 11.707" />
        </svg>
        <span class="hidden">위로 올라가기</span>
      </button>
    </div>
  </div>
</body>

</html>