<!DOCTYPE html>
<html lang="ko" class="skel">

<head>
  @@include('include/head.html')
</head>

<body>
  <div id="wrap">
    <div id="container">
      <div class="leftArea cScroll">
        <ul class="leftMenu">
          <li>
            <a href="../../html/main.html" title="메인으로">
              <img src="../../images/common/logo.png" class="lightLogo" alt="서브 메인로고">
              <img src="../../images/common/main-logo-w.png" class="darkLogo" alt="서브 메인로고" />
              <span class="hidden">메인으로</span>
            </a>
          </li>
          <li>
            <span>
              <a href="../../html/sub_first.html" title="홈">Home</a>
            </span>
          </li>
          <li>
            <span>
              <a href="#none" title="Header">Header
                <svg viewBox="0 0 700 700">
                  <path
                    d="m350 446.25c-4.4805 0-8.9609-1.7148-12.371-5.1289l-245-245c-6.8438-6.8438-6.8438-17.902 0-24.746l52.5-52.5c6.8438-6.8438 17.902-6.8438 24.746 0l180.12 180.13 180.13-180.12c6.8438-6.8438 17.902-6.8438 24.746 0l52.5 52.5c6.8438 6.8438 6.8438 17.902 0 24.746l-245 245c-3.4141 3.4102-7.8945 5.125-12.375 5.125z" />
                </svg>
              </a>
            </span>
            <ul class="leftSubMenu">
              <li>
                <a href="../header/header-header-fixed.html" title="Header fixed">Header fixed</a>
              </li>
              <li>
                <a href="../header/hedaer-header-toggle.html" title="Header Toggle">Header Toggle</a>
              </li>
              <li>
                <a href="../header/header-header-sticky.html" title="Sticky Header">Sticky Header</a>
              </li>
            </ul>
          </li>
          <li>
            <span>
              <a href="#none" title="GNB">GNB
                <svg viewBox="0 0 700 700">
                  <path
                    d="m350 446.25c-4.4805 0-8.9609-1.7148-12.371-5.1289l-245-245c-6.8438-6.8438-6.8438-17.902 0-24.746l52.5-52.5c6.8438-6.8438 17.902-6.8438 24.746 0l180.12 180.13 180.13-180.12c6.8438-6.8438 17.902-6.8438 24.746 0l52.5 52.5c6.8438 6.8438 6.8438 17.902 0 24.746l-245 245c-3.4141 3.4102-7.8945 5.125-12.375 5.125z" />
                </svg>
              </a>
            </span>
            <ul class="leftSubMenu">
              <li>
                <a href="../gnb/gnb-hover-full-dropdown.html" title="GNB Hover Full Dropdown">GNB Hover Full
                  Dropdown</a>
              </li>
              <li>
                <a href="../gnb/gnb-menu-hover-full-dropdown.html" title="GNB Menu hover Full Dropdown">GNB Menu
                  hover Full Dropdown</a>
              </li>
              <li>
                <a href="../gnb/gnb-hoverable-dropdown.html" title="GNB Hoverable Dropdown">GNB Hoverable
                  Dropdown</a>
              </li>
            </ul>
          </li>
          <li>
            <span>
              <a href="#none" title="Footer">Footer
                <svg viewBox="0 0 700 700">
                  <path
                    d="m350 446.25c-4.4805 0-8.9609-1.7148-12.371-5.1289l-245-245c-6.8438-6.8438-6.8438-17.902 0-24.746l52.5-52.5c6.8438-6.8438 17.902-6.8438 24.746 0l180.12 180.13 180.13-180.12c6.8438-6.8438 17.902-6.8438 24.746 0l52.5 52.5c6.8438 6.8438 6.8438 17.902 0 24.746l-245 245c-3.4141 3.4102-7.8945 5.125-12.375 5.125z" />
                </svg>
              </a>
            </span>
            <ul class="leftSubMenu">
              <li>
                <a href="../footer/footer-footer-basic.html" title="Footer basic">Footer basic</a>
              </li>
              <li>
                <a href="../footer/footer-footer-fixed.html" title="Footer fixed">Footer fixed</a>
              </li>
            </ul>
          </li>
          <li class="active">
            <span>
              <a href="#none" title="Layout">Layout
                <svg viewBox="0 0 700 700">
                  <path
                    d="m350 446.25c-4.4805 0-8.9609-1.7148-12.371-5.1289l-245-245c-6.8438-6.8438-6.8438-17.902 0-24.746l52.5-52.5c6.8438-6.8438 17.902-6.8438 24.746 0l180.12 180.13 180.13-180.12c6.8438-6.8438 17.902-6.8438 24.746 0l52.5 52.5c6.8438 6.8438 6.8438 17.902 0 24.746l-245 245c-3.4141 3.4102-7.8945 5.125-12.375 5.125z" />
                </svg>
              </a>
            </span>
            <ul class="leftSubMenu block">
              <li>
                <a href="../layout/layout-centerEle.html" title="Center element">Center element</a>
              </li>
              <li>
                <a href="../layout/layout-tab.html" title="Tab">Tab</a>
              </li>
              <li>
                <a href="../layout/layout-bg-image.html" title="Background-image 100%">Background-image 100%</a>
              </li>
              <li class="active">
                <a href="../layout/layout-leftMenu.html" title="Left menu">Left menu</a>
              </li>
              <li>
                <a href="../layout/layout-floatingMenu.html" title="Floating menu">Floating menu</a>
              </li>
              <li class="disabled">
                <a href="#none" title="Slide">Slide</a>
              </li>
              <li>
                <a href="../layout/layout-flex.html" title="Flex">Flex</a>
              </li>
              <li class="disabled">
                <a href="#none" title="Grid">Grid</a>
              </li>
            </ul>
          </li>
          <li>
            <span>
              <a href="#none" title="Input">Input
                <svg viewBox="0 0 700 700">
                  <path
                    d="m350 446.25c-4.4805 0-8.9609-1.7148-12.371-5.1289l-245-245c-6.8438-6.8438-6.8438-17.902 0-24.746l52.5-52.5c6.8438-6.8438 17.902-6.8438 24.746 0l180.12 180.13 180.13-180.12c6.8438-6.8438 17.902-6.8438 24.746 0l52.5 52.5c6.8438 6.8438 6.8438 17.902 0 24.746l-245 245c-3.4141 3.4102-7.8945 5.125-12.375 5.125z" />
                </svg>
              </a>
            </span>
            <ul class="leftSubMenu">
              <li>
                <a href="../input/input-inputStyle.html" title="Input">input</a>
              </li>
              <li>
                <a href="../input/input-radioStyle.html" title="Radio">radio</a>
              </li>
              <li>
                <a href="../input/input-selectStyle.html" title="Select">select</a>
              </li>
              <li>
                <a href="../input/input-textareaStyle.html" title="textarea">textarea</a>
              </li>
              <li>
                <a href="../input/input-chkboxStyle.html" title="checkbox">checkbox</a>
              </li>
            </ul>
          </li>
          <li>
            <span>
              <a href="#none" title="Scroll element">Scroll element
                <svg viewBox="0 0 700 700">
                  <path
                    d="m350 446.25c-4.4805 0-8.9609-1.7148-12.371-5.1289l-245-245c-6.8438-6.8438-6.8438-17.902 0-24.746l52.5-52.5c6.8438-6.8438 17.902-6.8438 24.746 0l180.12 180.13 180.13-180.12c6.8438-6.8438 17.902-6.8438 24.746 0l52.5 52.5c6.8438 6.8438 6.8438 17.902 0 24.746l-245 245c-3.4141 3.4102-7.8945 5.125-12.375 5.125z" />
                </svg>
              </a>
            </span>
            <ul class="leftSubMenu">
              <li>
                <a href="../scrollele/scroll-ele-table.html" title="Table inner scroll">Table inner scroll</a>
              </li>
              <li>
                <a href="../scrollele/scroll-ele-overflow.html" title="Overflow scroll">Overflow scroll</a>
              </li>
            </ul>
          </li>
          <li>
            <span>
              <a href="#none" title="Custom">Custom
                <svg viewBox="0 0 700 700">
                  <path
                    d="m350 446.25c-4.4805 0-8.9609-1.7148-12.371-5.1289l-245-245c-6.8438-6.8438-6.8438-17.902 0-24.746l52.5-52.5c6.8438-6.8438 17.902-6.8438 24.746 0l180.12 180.13 180.13-180.12c6.8438-6.8438 17.902-6.8438 24.746 0l52.5 52.5c6.8438 6.8438 6.8438 17.902 0 24.746l-245 245c-3.4141 3.4102-7.8945 5.125-12.375 5.125z" />
                </svg>
              </a>
            </span>
            <ul class="leftSubMenu">
              <li>
                <a href="../custom/custom-contextMenu.html" title="Context Menu">Context Menu</a>
              </li>
              <li>
                <a href="../custom/custom-scroll.html" title="Scroll design">Scroll design</a>
              </li>
              <li>
                <a href="../custom/custom-toolTip.html" title="toolTip">toolTip</a>
              </li>
            </ul>
          </li>
          <li>
            <span>
              <a href="#none" title="Popup">Popup
                <svg viewBox="0 0 700 700">
                  <path
                    d="m350 446.25c-4.4805 0-8.9609-1.7148-12.371-5.1289l-245-245c-6.8438-6.8438-6.8438-17.902 0-24.746l52.5-52.5c6.8438-6.8438 17.902-6.8438 24.746 0l180.12 180.13 180.13-180.12c6.8438-6.8438 17.902-6.8438 24.746 0l52.5 52.5c6.8438 6.8438 6.8438 17.902 0 24.746l-245 245c-3.4141 3.4102-7.8945 5.125-12.375 5.125z" />
                </svg>
              </a>
            </span>
            <ul class="leftSubMenu">
              <li>
                <a href="../popup/popup-popup-showhide.html" title="Popup show/hide">Popup show/hide</a>
              </li>
              <li>
                <a href="../popup/popup-toast.html" title="Toast popup">Toast popup</a>
              </li>
              <li>
                <a href="../popup/popup-drag.html" title="Drag popup">Drag popup</a>
              </li>
            </ul>
          </li>
          <li>
            <span>
              <a href="#none" title="Etc">Etc
                <svg viewBox="0 0 700 700">
                  <path
                    d="m350 446.25c-4.4805 0-8.9609-1.7148-12.371-5.1289l-245-245c-6.8438-6.8438-6.8438-17.902 0-24.746l52.5-52.5c6.8438-6.8438 17.902-6.8438 24.746 0l180.12 180.13 180.13-180.12c6.8438-6.8438 17.902-6.8438 24.746 0l52.5 52.5c6.8438 6.8438 6.8438 17.902 0 24.746l-245 245c-3.4141 3.4102-7.8945 5.125-12.375 5.125z" />
                </svg>
              </a>
            </span>
            <ul class="leftSubMenu">
              <li class="dep3Cont">
                <a href="#none" title="Animation element">Animation element
                  <svg width="18" height="18" viewBox="0 0 18 18" class="unfold">
                    <path id="ios-plus-empty" d="M27,18.633H18.563V27H17.368V18.633H9V17.438h8.367V9h1.195v8.438H27Z" transform="translate(-9 -9)"/>
                  </svg>
                  <svg width="16" height="1" viewBox="0 0 16 1" class="fold">
                    <rect id="사각형_14" data-name="사각형 14" width="16" height="1"/>
                  </svg>
                </a>
                <ul class="dep3">
                  <li>
                    <a href="../etc/etc-top-button.html" title="Top button">Top button</a>
                  </li>
                  <li>
                    <a href="../etc/etc-rotate.html" title="Rotate element">Rotate element</a>
                  </li>
                  <li>
                    <a href="../etc/etc-border.html" title="Boarder animation">Boarder animation</a>
                  </li>
                  <li>
                    <a href="../etc/etc-fadeinout.html" title="Fade in/out">Fade in/out</a>
                  </li>
                  <li>
                    <a href="../etc/etc-accordion.html" title="Accordion">Accordion</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="../etc/etc-ellipsis.html" title="Text ellipsis">Text ellipsis</a>
              </li>
              <li class="disabled">
                <a href="#none" title="Key frames">Key frames</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      @@include('include/util.html')

      <div class="rightArea">
        <div class="inner">
          <div class="textBox">
            <div class="titleH1">
              <h1>Left menu</h1>
            </div>
            <div class="tabWrap type01">
              <div class="tabNav">
                <ul class="tabList">
                  <li class="active orange" tabindex="0">HTML</li>
                  <li class="pink" tabindex="0">SCSS</li>
                  <li class="blue" tabindex="0">CSS</li>
                  <li class="yellow" tabindex="0">JS</li>
                </ul>
              </div>

              <div class="tabCont active">
                <div class="highlightArea cScroll">
                  <pre>
                              <code class="language-html">
  &lt;div class="leftAreaType02 cScroll"&gt;
      &lt;ul class="leftMenu"&gt;
          &lt;li class="noDepth"&gt;
              &lt;span&gt;
                  &lt;a href="#" title="홈"&gt;Home&lt;/a&gt;
              &lt;/span&gt;
          &lt;/li&gt;
          &lt;li&gt;
              &lt;span title="Menu01"&gt;Menu01&lt;/span&gt;
              &lt;ul class="leftSubMenu"&gt;
                  &lt;li&gt;
                      &lt;a href="#" title="Sub menu01"&gt;Sub menu01&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li&gt;
                      &lt;a href="#" title="Sub menu02"&gt;Subm menu02&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li&gt;
                      &lt;a href="#" title="Sub menu03"&gt;Sub menu03&lt;/a&gt;
                  &lt;/li&gt;
              &lt;/ul&gt;
          &lt;/li&gt;
          &lt;li&gt;
              &lt;span title="Menu02"&gt;Menu02&lt;/span&gt;
              &lt;ul class="leftSubMenu"&gt;
                  &lt;li&gt;
                      &lt;a href="#" title="Sub menu01"&gt;Sub menu01&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li&gt;
                      &lt;a href="#" title="Sub menu02"&gt;Subm menu02&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li&gt;
                      &lt;a href="#" title="Sub menu03"&gt;Sub menu03&lt;/a&gt;
                  &lt;/li&gt;
              &lt;/ul&gt;
          &lt;/li&gt;
          &lt;li&gt;
              &lt;span title="Menu03"&gt;Menu03&lt;/span&gt;
              &lt;ul class="leftSubMenu"&gt;
                  &lt;li&gt;
                      &lt;a href="#" title="Sub menu01"&gt;Sub menu01&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li&gt;
                      &lt;a href="#" title="Sub menu02"&gt;Subm menu02&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li&gt;
                      &lt;a href="#" title="Sub menu03"&gt;Sub menu03&lt;/a&gt;
                  &lt;/li&gt;
              &lt;/ul&gt;
          &lt;/li&gt;
          &lt;li&gt;
              &lt;span title="Menu04"&gt;Menu04&lt;/span&gt;
              &lt;ul class="leftSubMenu"&gt;
                  &lt;li&gt;
                      &lt;a href="#" title="Sub menu01"&gt;Sub menu01&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li&gt;
                      &lt;a href="#" title="Sub menu02"&gt;Subm menu02&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li&gt;
                      &lt;a href="#" title="Sub menu03"&gt;Sub menu03&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li&gt;
                      &lt;a href="#" title="Sub menu04"&gt;Sub menu04&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li&gt;
                      &lt;a href="#" title="Sub menu05"&gt;Sub menu05&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li&gt;
                      &lt;a href="#" title="Sub menu06"&gt;Sub menu06&lt;/a&gt;
                  &lt;/li&gt;
              &lt;/ul&gt;
          &lt;/li&gt;
      &lt;/ul&gt;
  &lt;/div&gt;
                              </code>
                            </pre>
                </div>
              </div>

              <div class="tabCont">
                <div class="highlightArea cScroll">
                  <pre>
                              <code class="language-scss">
  .leftAreaType02{position: fixed; left: 0; width: 300px; height: 100%;
  overflow-y: auto; z-index: 1100;background-color: #1C253D;box-shadow: 0px 0px 3px 2px rgba($color: #fff, $alpha: 0.5);
    >.leftMenu{
      >li{position: relative; cursor: pointer;
        &.noDepth{
          span:after{display: none;}
        }
        span{position: relative; display: block; padding: 16px 0; text-indent: 28px;
        font-family: 'Noto Sans Light'; font-size: 22px; color: $cfff; transition: .5s;
          &:after{content: ''; width: 15px;height: 9px; position: absolute; top: 50%; right: 28px; transition: .5s;
          transform: translateY(-50%);background: url("../images/ico/ico-down.svg")no-repeat;}
        }
        a{display: block;}
        >a{display: block;}
        >ul.leftSubMenu{display: none; background-color: #273147; 
          li{height: 55px; line-height: 57px;
            a{display: block; font-family: 'Noto Sans'; font-size: 18px; color: rgba($color: #fff, $alpha: 0.8);
            text-indent: 50px; font-family: 'Noto Sans Light';
              &:hover{background-color: #485162;}
            }
            &.active{
              a{color: $emphasisType01;}
            }
          }
        }
        &.active{
          span{background-color: #5869F0;
            &:after{transform: translateY(-50%) rotate(180deg); background: url("../images/ico/ico-down-active.svg")no-repeat;}
          }
        }
      }
    }
  }
                              </code>
                          </pre>
                </div>
              </div>

              <div class="tabCont">
                <div class="highlightArea cScroll">
                  <pre>
                              <code class="language-css">
  .wrap .leftAreaType02 {
    position: fixed;
    left: 0;
    width: 300px;
    height: 100%;
    overflow-y: auto;
    z-index: 1100;
    background-color: #1C253D;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.5);
            box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.5);
  }

  .wrap .leftAreaType02 > .leftMenu > li {
    position: relative;
    cursor: pointer;
  }

  .wrap .leftAreaType02 > .leftMenu > li.noDepth span:after {
    display: none;
  }

  .wrap .leftAreaType02 > .leftMenu > li span {
    position: relative;
    display: block;
    padding: 16px 0;
    text-indent: 28px;
    font-family: 'Noto Sans Light';
    font-size: 22px;
    color: #fff;
    -webkit-transition: .5s;
    transition: .5s;
  }

  .wrap .leftAreaType02 > .leftMenu > li span:after {
    content: '';
    width: 15px;
    height: 9px;
    position: absolute;
    top: 50%;
    right: 28px;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: url("../images/ico/ico-down.svg") no-repeat;
  }

  .wrap .leftAreaType02 > .leftMenu > li a {
    display: block;
  }

  .wrap .leftAreaType02 > .leftMenu > li > a {
    display: block;
  }

  .wrap .leftAreaType02 > .leftMenu > li > ul.leftSubMenu {
    display: none;
    background-color: #273147;
  }

  .wrap .leftAreaType02 > .leftMenu > li > ul.leftSubMenu li {
    height: 55px;
    line-height: 57px;
  }

  .wrap .leftAreaType02 > .leftMenu > li > ul.leftSubMenu li a {
    display: block;
    font-family: 'Noto Sans';
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    text-indent: 50px;
    font-family: 'Noto Sans Light';
  }

  .wrap .leftAreaType02 > .leftMenu > li > ul.leftSubMenu li a:hover {
    background-color: #485162;
  }

  .wrap .leftAreaType02 > .leftMenu > li > ul.leftSubMenu li.active a {
    color: #266bf7;
  }

  .wrap .leftAreaType02 > .leftMenu > li.active span {
    background-color: #5869F0;
  }

  .wrap .leftAreaType02 > .leftMenu > li.active span:after {
    -webkit-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
    background: url("../images/ico/ico-down-active.svg") no-repeat;
  }
                              </code>
                            </pre>
                </div>
              </div>

              <div class="tabCont">
                <div class="highlightArea cScroll">
                  <pre>
                              <code class="language-javascript">
  $(document).ready(function(){
      $('.leftAreaType02 .leftMenu > li > span').on({
          "click":function(){
              $(this).next('.leftSubMenu').slideToggle();
              $(this).parent('li').toggleClass('active').siblings('li').removeClass('active').find('.leftSubMenu').slideUp();
          }
      });
  });
                              </code>
                            </pre>
                </div>
              </div>
            </div>
            <div class="btnArea end">
              <button type="button" class="button Bgblue btnResult">
                <span>결과보기</span>
                <svg viewBox="0 0 7.152 11.14">
                  <path id="_777" data-name="777"
                    d="M11.571,7.893,6.443,13.014a.434.434,0,0,1-.622,0L.694,7.893a.442.442,0,0,1,0-.629l1.147-1.14a.434.434,0,0,1,.622,0L6.133,9.794,9.8,6.124a.434.434,0,0,1,.622,0l1.147,1.14a.442.442,0,0,1,0,.629Z"
                    transform="translate(-5.993 11.703) rotate(-90)"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="frameBody" class="overflow-y">
      <div id="toast">
        <span>Esc 혹은 우측 상단 X 버튼을 눌러 결과창을 닫을 수 있습니다. </span>
      </div>
      <div class="btnArea">
        <button type="button" class="frameClose">
          <svg viewBox="0 0 16 16">
            <path id="icon"
              d="M5.707,7.121,1.414,11.414,0,10,4.293,5.707,0,1.414,1.414,0,5.707,4.293,10,0l1.414,1.414L7.121,5.707,11.414,10,10,11.414,5.707,7.121Z"
              transform="translate(2.293 2.293)"></path>
          </svg>
          <span class="hidden">프레임 창닫기</span>
        </button>
      </div>
      <div class="wrap pre leftMenu">
        <div class="leftAreaType02 cScroll">
          <ul class="leftMenu">
            <li class="noDepth">
              <span>
                <a href="#" title="홈">Home
                </a>
              </span>
            </li>
            <li>
              <span title="Menu01">Menu01
                <svg width="30" height="18" viewBox="0 0 700 700">
                  <path d="m350 446.25c-4.4805 0-8.9609-1.7148-12.371-5.1289l-245-245c-6.8438-6.8438-6.8438-17.902 0-24.746l52.5-52.5c6.8438-6.8438 17.902-6.8438 24.746 0l180.12 180.13 180.13-180.12c6.8438-6.8438 17.902-6.8438 24.746 0l52.5 52.5c6.8438 6.8438 6.8438 17.902 0 24.746l-245 245c-3.4141 3.4102-7.8945 5.125-12.375 5.125z"></path>
                </svg>
              </span>
              <ul class="leftSubMenu">
                <li>
                  <a href="#" title="Sub menu01">Sub menu01</a>
                </li>
                <li>
                  <a href="#" title="Sub menu02">Subm menu02</a>
                </li>
                <li>
                  <a href="#" title="Sub menu03">Sub menu03</a>
                </li>
              </ul>
            </li>
            <li>
              <span title="Menu02">Menu02
                <svg width="30" height="18" viewBox="0 0 700 700">
                  <path d="m350 446.25c-4.4805 0-8.9609-1.7148-12.371-5.1289l-245-245c-6.8438-6.8438-6.8438-17.902 0-24.746l52.5-52.5c6.8438-6.8438 17.902-6.8438 24.746 0l180.12 180.13 180.13-180.12c6.8438-6.8438 17.902-6.8438 24.746 0l52.5 52.5c6.8438 6.8438 6.8438 17.902 0 24.746l-245 245c-3.4141 3.4102-7.8945 5.125-12.375 5.125z"></path>
                </svg>
              </span>
              <ul class="leftSubMenu">
                <li>
                  <a href="#" title="Sub menu01">Sub menu01</a>
                </li>
                <li>
                  <a href="#" title="Sub menu02">Subm menu02</a>
                </li>
                <li>
                  <a href="#" title="Sub menu03">Sub menu03</a>
                </li>
              </ul>
            </li>
            <li>
              <span title="Menu03">Menu03
                <svg width="30" height="18" viewBox="0 0 700 700">
                  <path d="m350 446.25c-4.4805 0-8.9609-1.7148-12.371-5.1289l-245-245c-6.8438-6.8438-6.8438-17.902 0-24.746l52.5-52.5c6.8438-6.8438 17.902-6.8438 24.746 0l180.12 180.13 180.13-180.12c6.8438-6.8438 17.902-6.8438 24.746 0l52.5 52.5c6.8438 6.8438 6.8438 17.902 0 24.746l-245 245c-3.4141 3.4102-7.8945 5.125-12.375 5.125z"></path>
                </svg>
              </span>
              <ul class="leftSubMenu">
                <li>
                  <a href="#" title="Sub menu01">Sub menu01</a>
                </li>
                <li>
                  <a href="#" title="Sub menu02">Subm menu02</a>
                </li>
                <li>
                  <a href="#" title="Sub menu03">Sub menu03</a>
                </li>
              </ul>
            </li>
            <li>
              <span title="Menu04">Menu04
                <svg width="30" height="18" viewBox="0 0 700 700">
                  <path d="m350 446.25c-4.4805 0-8.9609-1.7148-12.371-5.1289l-245-245c-6.8438-6.8438-6.8438-17.902 0-24.746l52.5-52.5c6.8438-6.8438 17.902-6.8438 24.746 0l180.12 180.13 180.13-180.12c6.8438-6.8438 17.902-6.8438 24.746 0l52.5 52.5c6.8438 6.8438 6.8438 17.902 0 24.746l-245 245c-3.4141 3.4102-7.8945 5.125-12.375 5.125z"></path>
                </svg>
              </span>
              <ul class="leftSubMenu">
                <li>
                  <a href="#" title="Sub menu01">Sub menu01</a>
                </li>
                <li>
                  <a href="#" title="Sub menu02">Subm menu02</a>
                </li>
                <li>
                  <a href="#" title="Sub menu03">Sub menu03</a>
                </li>
                <li>
                  <a href="#" title="Sub menu04">Sub menu04</a>
                </li>
                <li>
                  <a href="#" title="Sub menu05">Sub menu05</a>
                </li>
                <li>
                  <a href="#" title="Sub menu06">Sub menu06</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </div>
    @@include('include/popup-share.html')

    <div class="popup mobileResult">
      <div class="cont">
        <div class="inner">
          <strong>결과를 보기 전에 잠깐!</strong>
          <p>모바일 환경에서는 코드 결과가 gif로 표시됩니다.</p>
          <p>그래도 결과를 볼까요?</p>
          <p>(제대로 된 결과를 보려면 노트북 또는 데스크탑에서 실행해주세요.)</p>
          <div class="todayClose">
            <label for="todayChk" class="todayChkClose">
              <input type="checkbox" id="todayChk">
              <span>오늘 하루 그만보기</span>
            </label>
          </div>
        </div>
        <div class="btnArea">
          <button type="button" class="btnCancel">
            <span>취소</span>
          </button>
          <button type="button" class="btnConfirm">
            <span>확인</span>
          </button>
        </div>
      </div>
    </div>
    <div id="dimmed"></div>

    <div class="topArea">
      <button type="button" class="backtoTop">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <polygon fill-rule="evenodd"
            points="13 5.414 13 22 11 22 11 5.414 4.707 11.707 3.293 10.293 12 1.586 20.707 10.293 19.293 11.707" />
        </svg>
        <span class="hidden">위로 올라가기</span>
      </button>
    </div>
  </div>
</body>

</html>