@import '../common/variable.scss';

#frameBody .wrap.pre{
    &.topButton{
        .container{height: 100%;}
        #startLine{display: block; width: 100%; min-height: 200px; color: $cfff; font-size: 1em; background-color: $_222Bg;}
        .btnArea{top: inherit; bottom: 20px; right: 20px;
            .arrowTop{display: flex; align-items: center; justify-content: center; width: 45px; height: 45px; border-radius: 50%; 
            background-color: $_222Bg;
                svg{position: static; top: inherit; left: inherit;}
            }
        }
    }

    &.etcRotate{
        .resultCont{display: flex; justify-content: space-around; padding: 60px 20px 20px 20px;}
        .rotateBox{width: 200px; height: 200px; transition: 1s;
        border: 1px solid $blackBg; background-color: $dddBg;
            &.degType01:hover{transform: rotate(45deg);}
            &.degType02:hover{transform: rotate(0.5turn);}
            &.degType03:hover{transform: rotate(360deg);}
        }
    }

    &.fadeInout{
        .tgArea{
            &.fadeType01,&.fadeType02{
                .tgCont span{color: var(--c-333-white);}
                .btnFadeInout{min-width: 100px; height: 40px; font-family: $d-fz; font-size: 0.88em;
                background-color: rgba($color: $dddBg, $alpha: 0.5);}
            }

            &.fadeType01{
                .tgCont{opacity: 0; visibility: hidden; transition: .5s;}
                .btnFadeInout.active ~.tgCont{opacity: 1; visibility: visible;}
            }

            &.fadeType02{
                .tgCont{display: none;}
            }
        }
    }

    &.bdAni{
        .borderArea{display: flex; flex-direction: column; align-items: center;
            span{display: inline-block; font-family: 'Noto Sans'; font-size: 1.5em; cursor: pointer; text-transform: uppercase; color: var(--c-333-white);
                &:after{content: ''; display: inherit; border-bottom: 2px solid var(--primary-type02); transform: scaleX(0); transition: .5s;}
                &.leftBd:after{transform-origin: 0% 50%;}
                &.rightBd:after{transform-origin: 100% 50%;}
                &:hover{
                    &:after{transform: scaleX(1);}
                }
                +span{margin-top: 30px;}
            }
        }
    }

    &.acn{
        .container{height: 100%; max-width: 1000px; margin: 0 auto;
            .resultCont{height: inherit; display: flex; align-items: center; justify-content: center;}
        }
        .accordion{display: flex; align-items: center; justify-content: center; width: 100%;
            ul{width: inherit;
                li{background-color: var(--d-bg-left-menu); cursor: pointer;
                    &:first-of-type{border-top: 1px solid var(--d-bdc);}
                    .head{height: 60px; padding: 0 20px; display: flex; align-items: center;
                    justify-content: space-between; font-size: 20px; font-family: 'Noto Sans'; color: var(--c-333-white);
                        .arrowUp{display: none;}
                    }
                    .cont{ border-bottom: 1px solid var(--d-bdc); background-color: var(--d-bg-left-menu-dep2);
                        >.inner{visibility: hidden; height: 0; transition: .5s; overflow: hidden;
                            .txtArea{padding: 20px; box-sizing: border-box;}
                        }
                        p{color: var(--c-333-white);}
                    }
                    &.on{
                        .arrowDown{display: none;}
                        .arrowUp{display: block;}
                        .cont>.inner{visibility: visible; height: 200px;}
                    }
                }
            }
        }
    }

    &.wave{position: relative;
        .divWave{position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; z-index: 1;
        background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg"); background-repeat: repeat-x; background-position: 0px bottom; 
        background-size: 1920px auto; overflow: hidden; opacity: 0.7; animation-name: wave; animation-duration: 50s; animation-iteration-count: infinite;
        animation-timing-function: linear;
        }
    }
}

@keyframes wave {
    0%{background-position: 0px bottom;}
    100%{background-position: 1920px bottom;}
}