.customSelect{display: flex; flex: 1;
    >ul{flex: 1;
      >li{flex: 1; height: 30px; position: relative; border: 1px solid #ddd;
      text-indent: 5px; box-sizing: border-box; background: url("../../images/ico/ico-select-down.svg")no-repeat center right 10px;
        span{display: block; line-height: 28px; color: #222; font-family: 'Noto Sans'; cursor: pointer;}
        .selList{display: none; position: absolute; top: 29px; left: -1px; width: 100%; z-index: 200; 
        border: 1px solid #ddd; border-top: 0; border-radius: 0 0 4px 4px; background-color: #fff;
          li{
            &:hover{background-color: #3399ff;
              span{color: #fff;}
            }
          }
        }
      }
    }
    &.active{
      ul li .selList{display: block;}
    }
    +.customSelect{margin-left: 10px;}
}

textarea{height: 150px; border: 1px solid #ddd; padding: 10px; box-sizing: border-box;
    font-family: 'Noto Sans'; border-radius: 4px; color: #222; font-size: 14px; resize: none; overflow-y: auto;
    background-color: #fff;
      &::placeholder{color: #aaa;}
      &:disabled{background-color: #f5f5f5;}
      &.full{width: 100%;}
}
    
input{height: 30px; border: 1px solid #ddd; padding-left: 5px; box-sizing: border-box; 
font-family: 'Noto Sans'; border-radius: 4px; color: #222; background-color: #fff;
    &.full{width: 100%;}
}
    
input[type="image"],input[type="color"],input[type="button"]{display: inline-block; vertical-align: middle;}
    
.select{display: inline-block; height: 30px; border: 1px solid #ddd; padding: 0 5px; box-sizing: border-box;
font-family: 'Noto Sans'; border-radius: 2px; color: #222; vertical-align: middle;background-color: #fff;}
    
.selContainer{display: flex;
    label{display: flex;align-items: center; margin-right: 7px;}
}

.checkbox{display: inline-block;
    input[type="checkbox"]{display: none;
      &:checked+label{
        &:before{background-image: url("../../images/ico/ico-checkbox-checked.svg");
        background-repeat: no-repeat; background-position: center; background-size: 25px 25px;
        border: 0;
        }
      }
    }
    label{vertical-align: middle; font-size: 14px; color: #222; font-family: 'Noto Sans';cursor: pointer;
      &:before{content: ''; display: inline-block; width: 20px; height: 20px; border-radius: 4px; box-sizing: border-box;
      margin-right: 5px; vertical-align: sub; border: 1px solid #ddd; background-color: #fff;}
    }
    +.checkbox{margin-left: 10px;}
}

.radio{display: inline-block; margin-right: 10px;margin-top: 0; cursor: pointer;
    input[type="radio"]{display: none;}
    &:last-child {margin-right: 0;}
    label{position: relative; display: flex;align-items: center; font-family: "Noto Sans"; font-size: 14px; color: #141414; cursor: pointer; text-indent: 5px;
      &:before{content: ''; display: inline-block; width: 14px; height: 14px; border: 1px solid #ddd; border-radius: 50%; background-color: #fff;}
    }
    input[type="radio"]:checked+label{
      &:after{content: ''; position: absolute; top: 50%; transform: translateY(-50%); left: 5px; 
      width: 6px;height: 6px; border-radius: 50%; background-color: #266bf7;}
    }
    &.imgType{
      input[type="radio"]:checked+label{
        &:after{content: ''; border: 0; width: 16px; height: 16px; left: 0;
        background-image: url("../../images/ico/ico-radio-checked.svg");
        background-repeat: no-repeat ; background-position: center; background-size: 16px 16px;
        }
      }
    }
  }