@import '../variable.scss';

.wrap{position: relative; width: 100%; height: 100%;
    &.pre{
      &.centerEle{
        .resultCont{position: relative; padding: 50px; box-sizing: border-box;
          &.type01{height: 100%; 
            .container{height: 100%; display: flex; align-items: center; justify-content: center;}
          }
          &.type02{
            .innerBox{display: flex; align-items: center; justify-content: center; height: 100vh;
          }
          }
          &.type03{height: 100%;
            .container{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
          }
        }
        .titleH3{margin-bottom: 0; padding-bottom: 10px;}
        .centerBox{padding: 50px; border: 2px solid #000; font-size: 22px; font-family: 'Noto Sans';}
      }
  
      &.bgImage{
        .resultCont{position: relative;
          .imgDiv{height: 600px; background-image: url("../images/common/1903x600.png"); background-repeat: no-repeat;}
          &.type01{
            .imgDiv{background-size: cover;}
          }
          &.type02{
            .imgDiv{background-size: 100% 100%;}
          }
          +.resultCont{margin-top: 50px;} 
        }
      }
      
      &.leftMenu{
        .leftAreaType02{position: fixed; left: 0; width: 300px; height: 100%;
          overflow-y: auto; z-index: 1100;background-color: #1C253D;box-shadow: 0px 0px 3px 2px rgba($color: #fff, $alpha: 0.5);
          >.leftMenu{
            >li{position: relative; cursor: pointer;
              &.noDepth{
                span:after{display: none;}
              }
              span{position: relative; display: block; padding: 16px 0; text-indent: 28px;
              font-family: 'Noto Sans Light'; font-size: 22px; color: $cfff; transition: .5s;
                &:after{content: ''; width: 15px;height: 9px; position: absolute; top: 50%; right: 28px; transition: .5s;
                transform: translateY(-50%);background: url("../images/ico/ico-down.svg") no-repeat;}
              }
              a{display: block;}
              >a{display: block;}
              >ul.leftSubMenu{display: none; background-color: #273147; 
                li{height: 55px; line-height: 57px;
                  a{display: block; font-family: 'Noto Sans'; font-size: 18px; color: rgba($color: #fff, $alpha: 0.8);
                  text-indent: 50px; font-family: 'Noto Sans Light';
                    &:hover{background-color: #485162;}
                  }
                  &.active{
                    a{color: $emphasisType01;}
                  }
                }
              }
              &.active{
                span{background-color: #5869F0;
                  &:after{transform: translateY(-50%) rotate(-180deg); background: url("../../images/ico/ico-down-w.svg") no-repeat;}
                }
              }
            }
          }
        }
      }

      &.floating{
        &.h2000{height: 2000px;}
        #floatingMenu{position: fixed; right: 20px; bottom: 20px;
          .menuArea{
            .btnMenuList{width: 56px; height: 56px; border-radius: 50px; box-shadow: 0px 0px 8px 4px rgba($color: #000000, $alpha: 0.25); 
            background: $c333 url("../../images/ico/ico-plus-w.png")no-repeat center;
              &:hover ul.menuList li{visibility: visible; transform: translateY(0) scale(1);}
            }
            ul.menuList{position: absolute; top: -211px; display: flex; flex-direction: column; 
              li{visibility: hidden; transform: translateY(0) scale(0); transition: .5s; transition-delay: 0.03s; margin: 0 auto;
              width: 56px; height: 56px; border-radius: 50px; box-shadow: 0px 0px 8px 4px rgba($color: #000000, $alpha: 0.25); background-color: $c333;
                a{display: block; width: inherit; height: inherit;}
                +li{margin-top: 15px;}
              }
            }
          }
        }
      }

      &.flexLayout{
        
      }
    }
}

// tab
.tabWrap{
    .tabCont{display: none;
      &.active{display: block;}
    }
    .tabNav .tabList{display: flex;}
  
    &.type01{margin-bottom: 30px;
      >.tabNav{margin-bottom: 15px;
        >.tabList{border-bottom: 2px solid #ddd; border-radius: 4px; background-color: #fff;
          >li{position: relative; flex: 1; height: 35px; line-height: 35px;font-size: 18px;
          cursor: pointer; text-align: center; color: #000; font-family: 'Noto Sans';
            &.orange.active:before{background-color: #ed5e26;}
            &.pink.active:before{background-color: #cf649a;}
            &.blue.active:before{background-color: #2693cc;}
            &.yellow.active:before{background-color: #f7e018;}
            &.active{font-weight: bold;
              &:before{content: ''; position: absolute; width: 100%; height: 3px; bottom: -1px; left: 0;}
            }
          }
        }
      }
    }
  
    &.typeEx{
      >.tabNav{
        >.tabList{display: flex;border: 1px solid #ddd; border-radius: 4px; font-size: 16px; color: #222;
          >li{position: relative; flex: 1; height: 50px; line-height: 50px; padding: 0 10px; cursor: pointer; 
          box-sizing: border-box; text-align: center; background-color: #fff; font-family: 'Noto sans';
            &.active{border-radius: 4px 0 0 4px; font-weight: bold;color: #fff;background-color: #266bf7;
              &:last-child{border-radius: 0 4px 4px 0;}
            }
          }
        }
      }
    }
  }