@import '../common/variable.scss';

.wrap{position: relative; width: 100%; height: 100%;
    &.pre{
      &.centerEle{
        .resultCont{
          &.type01{height: 100%; 
            .container{height: 100%; display: flex; align-items: center; justify-content: center;}
          }
          &.type02{
            .innerBox{display: flex; align-items: center; justify-content: center; height: 100vh;
          }
          }
          &.type03{height: 100%;
            .container{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
          }
        }
        .titleH3{margin-bottom: 0; padding-bottom: 10px;}
        .centerBox{padding: 50px; border: 2px solid var(--c-333-white); font-size: 1.38em; font-family: $d-fz;
          span{color: var(--c-333-white);}
        }
      }
  
      &.bgImage{
        .resultCont{
          .imgDiv{height: 600px; background-image: url("../../images/common/1903x600.png"); background-repeat: no-repeat;}
          &.type01{
            .imgDiv{background-size: 100% 100%;}
          }
          &.type02{
            .imgDiv{background-size: 100% 100%;}
          }
          +.resultCont{margin-top: 50px;} 
        }
      }
      
      &.leftMenu{
        .leftAreaType02{position: fixed; left: 0; width: 300px; height: 100%;
          overflow-y: auto; z-index: 1100;background-color: #1C253D;box-shadow: 0px 0px 3px 2px rgba($color: $whiteBg, $alpha: 0.5);
          >.leftMenu{
            >li{position: relative; cursor: pointer;
              &.noDepth{
                span:after{display: none;}
              }
              span{position: relative; display: block; padding: 16px 0; text-indent: 28px;
              font-family: 'Noto Sans Light'; font-size: 1.38em; color: $cfff; transition: .5s;
                &:after{content: ''; width: 15px;height: 9px; position: absolute; top: 50%; right: 28px; transition: .5s;
                transform: translateY(-50%); background-image: url("../../images/ico/ico-down.svg"); background-repeat: no-repeat;}
              }
              a{display: block;}
              >a{display: block;}
              >ul.leftSubMenu{display: none; background-color: #273147; 
                li{height: 55px; line-height: 57px;
                  a{display: block; font-family: $d-fz; font-size: 1.13em; color: rgba($color: $cfff, $alpha: 0.8);
                  text-indent: 50px; font-family: 'Noto Sans Light';
                    &:hover{background-color: #485162;}
                  }
                  &.active{
                    a{color: $emphasisType01;}
                  }
                }
              }
              &.active{
                span{background-color: #5869F0;
                  &:after{transform: translateY(-50%) rotate(-180deg); background: url("../../images/ico/ico-down-w.svg") no-repeat;}
                }
              }
            }
          }
        }
      }

      &.floating{
        #floatingMenu{position: fixed; right: 40px; bottom: 20px;
          .menuArea{
            .btnMenuList{display: flex; align-items: center; justify-content: center; width: 56px; height: 56px; border-radius: 50px; 
            box-shadow: 0px 0px 8px 4px rgba($color: $blackBg, $alpha: 0.25); background-color: $c333;
              >svg{width: 26px; height: 26px;}
              &:hover ul.menuList{
                li{visibility: visible; transform: translateY(0) scale(1);}
              }
            }
            ul.menuList{position: absolute; top: -211px;
              li{visibility: hidden; transform: translateY(0) scale(0); transition: .5s; transition-delay: 0.03s;
              width: 56px; height: 56px; border-radius: 50px; box-shadow: 0px 0px 8px 4px rgba($color: $blackBg, $alpha: 0.25); background-color: $c333;
                a{display: flex; align-items: center; justify-content: center; width: inherit; height: inherit;
                  svg{
                    &.github{width: 38px; height: 38px;}
                    &.bookmark{width: 34px; height: 34px;}
                    &.download{width: 32px; height: 32px;}
                  }
                }
                +li{margin-top: 15px;}
              }
            }
          }
        }
      }

      &.flexLayout{
        .resultCont{
          .container{
            .flexArea{display: flex;
              .flexItem{display: flex; width: 200px; height: 200px; max-width: 200px; font-size: 1em; font-family: $d-fz; 
              color: $cfff; background-color: var(--d-fb-box);
                &.bgGray{background-color: #444;}
                +.flexItem{margin-left: 10px;}
              }
              /* 실제로 사용되는 class */
              &.flexWrap{flex-wrap: wrap; width: 450px;}
              &.flex-width .flexItem{max-width: inherit;}
              &.flexAdj .flexItem+.flexItem{margin: 0;}
              &.itemCt .flexItem{justify-content: center;}
              /* --- */

              &.fe-inline{display: inline-flex;}
              &.fd-row{flex-direction: row;}
              &.fd-col{flex-direction: column;
                .flexItem+.flexItem{margin: 10px 0 0 0;}
              }
              &.fd-row-re{flex-direction: row-reverse;
                .flexItem+.flexItem{margin: 0 10px 0 0;}
              }
              &.fd-col-re{flex-direction: column-reverse;
                .flexItem+.flexItem{margin: 0 0 10px 0;}
              }

              &.jc-center{justify-content: center;}
              &.jc-start{justify-content: flex-start;}
              &.jc-end{justify-content: flex-end;}
              &.jc-between{justify-content: space-between;}
              &.jc-around{justify-content: space-around;}
              &.jc-evenly{justify-content: space-evenly;}

              &.ai-center .flexItem{align-items: center;}
              &.ai-start .flexItem{align-items: flex-start;}
              &.ai-end .flexItem{align-items: flex-end;}

              &.flex1 .flexItem{flex: 1;}
              &.flex-dp .flexItem{flex: 0.5;}

              &.fe-basis-d .flexItem{flex-basis: auto;}
              &.fe-basis .flexItem{flex-basis: 600px;}

              &.fe-grow-d .flexItem{flex-grow: 0;}
              &.fe-grow .flexItem{flex-grow: 1;}

              &.fe-shrink-d .flexItem{flex-shrink: 1; flex-basis: 1000px;}
              &.fe-shrink .flexItem{flex-shrink: 0; flex-basis: 100%;}

              &.fe-wrap,&.fe-wrap-re{width: 450px; gap: 20px;
                .flexItem+.flexItem{margin: 0;}
              }
              &.fe-wrap-d{flex-wrap:nowrap;}
              &.fe-wrap{flex-wrap: wrap;}
              &.fe-wrap-re{flex-wrap: wrap-reverse;}

              &.g20{gap: 20px;}
              &.row-g20{row-gap: 20px;}
              &.col-g20{column-gap: 20px;}

              &.fe-order .flexItem{
                &:first-of-type{order: 4;}
                &:nth-child(2){order: 3;}
                &:nth-child(3){order: 2;}
                &:last-of-type{order: 1;}
                +.flexItem{margin-left: 0; margin-right: 10px;}
              }
            }
            .tagGroup{margin-top: 120px;
              &:first-child,&:last-child{margin: 0;}
              +.flexArea{margin-top: 30px;}
            }
          }
        }
      }
    }
}

.tagGroup{
  .tag{display: inline-flex; justify-content: center; min-width: 50px; height: 25px; line-height: 25px; 
  padding: 0 10px; box-sizing: border-box; font-size: 1em; border-radius: 4px; font-family: $d-fz; 
  color: $cfff; box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
    &.default{background-color: #ffa500;} //기본값 컬러
    &.gray{background-color: $_333Bg;}
  }
}

// tab
.tabWrap{
    .tabCont{display: none;
      &.active{display: block;}
    }
    .tabNav .tabList{display: flex;}
  
    &.type01{margin-bottom: 30px;
      >.tabNav{margin-bottom: 15px;
        >.tabList{border-bottom: 2px solid var(--d-bdc); border-radius: 4px;
          >li{position: relative; flex: 1; height: 35px; line-height: 35px;font-size: 1.13em;
          cursor: pointer; text-align: center; color: var(--black-white); font-family: $d-fz;
            &.orange.active:before{background-color: #ed5e26;}
            &.pink.active:before{background-color: #cf649a;}
            &.blue.active:before{background-color: #2693cc;}
            &.yellow.active:before{background-color: #f7e018;}
            &.active{font-weight: bold;
              &:before{content: ''; position: absolute; width: 100%; height: 3px; bottom: -1px; left: 0;}
            }
            &:focus-visible{outline: 1.5px solid var(--black-white);}
          }
        }
      }
    }
  
    &.typeEx{
      >.tabNav{
        >.tabList{display: flex;border: 1px solid $dddBg; border-radius: 4px; font-size: 1em; color: $c222;
          >li{position: relative; flex: 1; height: 50px; line-height: 50px; padding: 0 10px; cursor: pointer; 
          box-sizing: border-box; text-align: center; background-color: $cfff; font-family: $d-fz;
            &.active{border-radius: 4px 0 0 4px; font-weight: bold;color: $cfff;background-color: var(--primary-type02);
              &:last-child{border-radius: 0 4px 4px 0;}
            }
          }
        }
      }
    }
  }