/* text color */
/* background */
/* unit */
#frameBody .wrap.pre.topButton .container {
  height: 100%;
}

#frameBody .wrap.pre.topButton #startLine {
  display: block;
  width: 100%;
  min-height: 200px;
  color: var(--c-333-white);
  font-size: 1em;
  background-color: #222;
}

#frameBody .wrap.pre.topButton .btnArea {
  top: inherit;
  bottom: 20px;
  right: 20px;
}

#frameBody .wrap.pre.topButton .btnArea .arrowTop {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-image: url("../../images/ico/ico-top-button-w.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #222;
}

#frameBody .wrap.pre.etcRotate .resultCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 60px 20px 20px 20px;
}

#frameBody .wrap.pre.etcRotate .rotateBox {
  width: 200px;
  height: 200px;
  -webkit-transition: 1s;
  transition: 1s;
  border: 1px solid #000;
  background-color: #ddd;
}

#frameBody .wrap.pre.etcRotate .rotateBox.degType01:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#frameBody .wrap.pre.etcRotate .rotateBox.degType02:hover {
  -webkit-transform: rotate(0.5turn);
          transform: rotate(0.5turn);
}

#frameBody .wrap.pre.etcRotate .rotateBox.degType03:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#frameBody .wrap.pre.fadeInout .tgArea.fadeType01 .tgCont span, #frameBody .wrap.pre.fadeInout .tgArea.fadeType02 .tgCont span {
  color: var(--c-333-white);
}

#frameBody .wrap.pre.fadeInout .tgArea.fadeType01 .btnFadeInout, #frameBody .wrap.pre.fadeInout .tgArea.fadeType02 .btnFadeInout {
  min-width: 100px;
  height: 40px;
  font-family: "Noto Sans";
  font-size: 0.88em;
  background-color: rgba(221, 221, 221, 0.5);
}

#frameBody .wrap.pre.fadeInout .tgArea.fadeType01 .tgCont {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

#frameBody .wrap.pre.fadeInout .tgArea.fadeType01 .btnFadeInout.active ~ .tgCont {
  opacity: 1;
  visibility: visible;
}

#frameBody .wrap.pre.fadeInout .tgArea.fadeType02 .tgCont {
  display: none;
}

#frameBody .wrap.pre.bdAni .borderArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#frameBody .wrap.pre.bdAni .borderArea span {
  display: inline-block;
  font-family: 'Noto Sans';
  font-size: 1.5em;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--c-333-white);
}

#frameBody .wrap.pre.bdAni .borderArea span:after {
  content: '';
  display: inherit;
  border-bottom: 2px solid var(--primary-type02);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: .5s;
  transition: .5s;
}

#frameBody .wrap.pre.bdAni .borderArea span.leftBd:after {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

#frameBody .wrap.pre.bdAni .borderArea span.rightBd:after {
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}

#frameBody .wrap.pre.bdAni .borderArea span:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

#frameBody .wrap.pre.bdAni .borderArea span + span {
  margin-top: 30px;
}

#frameBody .wrap.pre.acn .container {
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

#frameBody .wrap.pre.acn .container .resultCont {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#frameBody .wrap.pre.acn .accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#frameBody .wrap.pre.acn .accordion ul {
  width: inherit;
}

#frameBody .wrap.pre.acn .accordion ul li {
  background-color: var(--d-bg-left-menu);
  cursor: pointer;
}

#frameBody .wrap.pre.acn .accordion ul li:first-of-type {
  border-top: 1px solid var(--d-bdc);
}

#frameBody .wrap.pre.acn .accordion ul li .head {
  height: 60px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  font-family: 'Noto Sans';
  color: var(--c-333-white);
}

#frameBody .wrap.pre.acn .accordion ul li .head .arrowUp {
  display: none;
}

#frameBody .wrap.pre.acn .accordion ul li .cont {
  border-bottom: 1px solid var(--d-bdc);
  background-color: var(--d-bg-left-menu-dep2);
}

#frameBody .wrap.pre.acn .accordion ul li .cont > .inner {
  visibility: hidden;
  height: 0;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
}

#frameBody .wrap.pre.acn .accordion ul li .cont > .inner .txtArea {
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#frameBody .wrap.pre.acn .accordion ul li .cont p {
  color: var(--c-333-white);
}

#frameBody .wrap.pre.acn .accordion ul li.on .arrowDown {
  display: none;
}

#frameBody .wrap.pre.acn .accordion ul li.on .arrowUp {
  display: block;
}

#frameBody .wrap.pre.acn .accordion ul li.on .cont > .inner {
  visibility: visible;
  height: 200px;
}
/*# sourceMappingURL=etc.css.map */