@charset "UTF-8";
/* text color */
/* background */
.wrap.pre.footerBasic .contents {
  width: 100%;
}

.wrap.pre.footerBasic .contBox {
  position: relative;
  min-height: calc(100vh - 322px);
  text-align: center;
  font-size: 36px;
  color: #fff;
  font-family: "Noto Sans";
  background-color: #444;
}

.wrap.pre.footerBasic .contBox span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrap.pre.footerBasic #footer {
  width: 100%;
  background-color: #292a2d;
}

.wrap.pre.footerBasic #footer > .inner {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.wrap.pre.footerBasic #footer > .inner .logoArea {
  margin-bottom: 20px;
}

.wrap.pre.footerBasic #footer > .inner .logoArea a {
  display: inline-block;
}

.wrap.pre.footerBasic #footer > .inner .logoArea img {
  width: 200px;
}

.wrap.pre.footerBasic #footer > .inner .linkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  border-bottom: 1px solid #fff;
}

.wrap.pre.footerBasic #footer > .inner .linkArea {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  margin-left: auto;
}

.wrap.pre.footerBasic #footer > .inner .linkArea ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap.pre.footerBasic #footer > .inner .linkArea ul li a {
  font-size: 16px;
  font-family: "Noto Sans";
  color: #fff;
}

.wrap.pre.footerBasic #footer > .inner .linkArea ul li a:hover {
  text-decoration: underline;
}

.wrap.pre.footerBasic #footer > .inner .linkArea ul li + li {
  margin-top: 10px;
}

.wrap.pre.footerBasic #footer > .inner .bottomArea > .inner {
  height: 58px;
  line-height: 58px;
}

.wrap.pre.footerBasic #footer > .inner .bottomArea > .inner p.copy {
  font-size: 14px;
  color: #fff;
  font-family: '맑은 고딕';
  text-align: center;
}

.wrap.pre.footerFixed {
  position: relative;
  width: 100%;
  height: 100%;
}

.wrap.pre.footerFixed #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #292a2d;
}

.wrap.pre.footerFixed #footer > .inner {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.wrap.pre.footerFixed #footer > .inner .logoArea {
  margin-bottom: 20px;
}

.wrap.pre.footerFixed #footer > .inner .logoArea a {
  display: inline-block;
}

.wrap.pre.footerFixed #footer > .inner .logoArea img {
  width: 200px;
}

.wrap.pre.footerFixed #footer > .inner .linkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  border-bottom: 1px solid #fff;
}

.wrap.pre.footerFixed #footer > .inner .linkArea {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  margin-left: auto;
}

.wrap.pre.footerFixed #footer > .inner .linkArea ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap.pre.footerFixed #footer > .inner .linkArea ul li a {
  font-size: 16px;
  font-family: "Noto Sans";
  color: #fff;
}

.wrap.pre.footerFixed #footer > .inner .linkArea ul li a:hover {
  text-decoration: underline;
}

.wrap.pre.footerFixed #footer > .inner .linkArea ul li + li {
  margin-top: 10px;
}

.wrap.pre.footerFixed #footer > .inner .bottomArea > .inner {
  height: 58px;
  line-height: 58px;
}

.wrap.pre.footerFixed #footer > .inner .bottomArea > .inner p.copy {
  font-size: 14px;
  color: #fff;
  font-family: '맑은 고딕';
  text-align: center;
}
/*# sourceMappingURL=footer.css.map */