/* text color */
/* background */
/* darkMode */
body {
  --d-bg: #fff;
}

body[data-theme='light'] {
  --d-bg: #fff;
}

body[data-theme='dark'] {
  --d-bg: #121212;
}

.customSelect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.customSelect > ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.customSelect > ul > li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 30px;
  position: relative;
  border: 1px solid #ddd;
  text-indent: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("../../images/ico/ico-select-down.svg") no-repeat center right 10px;
}

.customSelect > ul > li span {
  display: block;
  line-height: 28px;
  color: #222;
  font-family: "Noto Sans";
  cursor: pointer;
}

.customSelect > ul > li .selList {
  display: none;
  position: absolute;
  top: 29px;
  left: -1px;
  width: 100%;
  z-index: 200;
  border: 1px solid #ddd;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
}

.customSelect > ul > li .selList li:hover {
  background-color: #3399ff;
}

.customSelect > ul > li .selList li:hover span {
  color: #fff;
}

.customSelect.active ul li .selList {
  display: block;
}

.customSelect + .customSelect {
  margin-left: 10px;
}

textarea {
  height: 150px;
  border: 1px solid #ddd;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans";
  border-radius: 4px;
  color: #222;
  font-size: 0.88em;
  resize: none;
  overflow-y: auto;
  background-color: #fff;
}

textarea::-webkit-input-placeholder {
  color: #aaa;
}

textarea:-ms-input-placeholder {
  color: #aaa;
}

textarea::-ms-input-placeholder {
  color: #aaa;
}

textarea::placeholder {
  color: #aaa;
}

textarea:disabled {
  background-color: #f5f5f5;
}

textarea.full {
  width: 100%;
}

input {
  height: 30px;
  border: 1px solid #ddd;
  padding-left: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans";
  border-radius: 4px;
  color: #222;
  background-color: #fff;
}

input.full {
  width: 100%;
}

input[type="image"], input[type="color"], input[type="button"] {
  display: inline-block;
  vertical-align: middle;
}

.select {
  display: inline-block;
  height: 30px;
  border: 1px solid #ddd;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans";
  border-radius: 2px;
  color: #222;
  vertical-align: middle;
  background-color: #fff;
}

.selContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.selContainer label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 7px;
}

.checkbox {
  display: inline-block;
}

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox input[type="checkbox"]:checked + label:before {
  background-image: url("../../images/ico/ico-checkbox-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
  border: 0;
}

.checkbox label {
  vertical-align: middle;
  font-size: 0.88em;
  color: #222;
  font-family: "Noto Sans";
  cursor: pointer;
}

.checkbox label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 5px;
  vertical-align: sub;
  border: 1px solid #ddd;
  background-color: #fff;
}

.checkbox + .checkbox {
  margin-left: 10px;
}

.radio {
  display: inline-block;
  margin-right: 10px;
  margin-top: 0;
  cursor: pointer;
}

.radio input[type="radio"] {
  display: none;
}

.radio:last-child {
  margin-right: 0;
}

.radio label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Noto Sans";
  font-size: 0.88em;
  color: #141414;
  cursor: pointer;
  text-indent: 5px;
}

.radio label:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #ddd;
  border-radius: 50%;
  background-color: #fff;
}

.radio input[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #266bf7;
}

.radio.imgType input[type="radio"]:checked + label:after {
  content: '';
  border: 0;
  width: 16px;
  height: 16px;
  left: 0;
  background-image: url("../../images/ico/ico-radio-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}
/*# sourceMappingURL=input.css.map */