@charset "UTF-8";
/* text color */
/* background */
.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.wrap.pre.centerEle .resultCont {
  position: relative;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap.pre.centerEle .resultCont.type01 {
  height: 100%;
}

.wrap.pre.centerEle .resultCont.type01 .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap.pre.centerEle .resultCont.type02 .innerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.wrap.pre.centerEle .resultCont.type03 {
  height: 100%;
}

.wrap.pre.centerEle .resultCont.type03 .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrap.pre.centerEle .titleH3 {
  margin-bottom: 0;
  padding-bottom: 10px;
}

.wrap.pre.centerEle .centerBox {
  padding: 50px;
  border: 2px solid #000;
  font-size: 1.38em;
  font-family: "Noto Sans";
}

.wrap.pre.bgImage .resultCont {
  position: relative;
}

.wrap.pre.bgImage .resultCont .imgDiv {
  height: 600px;
  background-image: url("../../images/common/1903x600.png");
  background-repeat: no-repeat;
}

.wrap.pre.bgImage .resultCont.type01 .imgDiv {
  background-size: 100% 100%;
}

.wrap.pre.bgImage .resultCont.type02 .imgDiv {
  background-size: 100% 100%;
}

.wrap.pre.bgImage .resultCont + .resultCont {
  margin-top: 50px;
}

.wrap.pre.leftMenu .leftAreaType02 {
  position: fixed;
  left: 0;
  width: 300px;
  height: 100%;
  overflow-y: auto;
  z-index: 1100;
  background-color: #1C253D;
  -webkit-box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.5);
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li {
  position: relative;
  cursor: pointer;
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li.noDepth span:after {
  display: none;
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li span {
  position: relative;
  display: block;
  padding: 16px 0;
  text-indent: 28px;
  font-family: 'Noto Sans Light';
  font-size: 1.38em;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li span:after {
  content: '';
  width: 15px;
  height: 9px;
  position: absolute;
  top: 50%;
  right: 28px;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../../images/ico/ico-down.svg");
  background-repeat: no-repeat;
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li a {
  display: block;
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li > a {
  display: block;
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li > ul.leftSubMenu {
  display: none;
  background-color: #273147;
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li > ul.leftSubMenu li {
  height: 55px;
  line-height: 57px;
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li > ul.leftSubMenu li a {
  display: block;
  font-family: "Noto Sans";
  font-size: 1.13em;
  color: rgba(255, 255, 255, 0.8);
  text-indent: 50px;
  font-family: 'Noto Sans Light';
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li > ul.leftSubMenu li a:hover {
  background-color: #485162;
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li > ul.leftSubMenu li.active a {
  color: #266bf7;
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li.active span {
  background-color: #5869F0;
}

.wrap.pre.leftMenu .leftAreaType02 > .leftMenu > li.active span:after {
  -webkit-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
  background: url("../../images/ico/ico-down-w.svg") no-repeat;
}

.wrap.pre.floating.h2000 {
  height: 2000px;
}

.wrap.pre.floating #floatingMenu {
  position: fixed;
  right: 40px;
  bottom: 20px;
}

.wrap.pre.floating #floatingMenu .menuArea .btnMenuList {
  width: 56px;
  height: 56px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
  background: #333 url("../../images/ico/ico-plus-w.png") no-repeat center;
}

.wrap.pre.floating #floatingMenu .menuArea .btnMenuList:hover ul.menuList li {
  visibility: visible;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.wrap.pre.floating #floatingMenu .menuArea ul.menuList {
  position: absolute;
  top: -211px;
}

.wrap.pre.floating #floatingMenu .menuArea ul.menuList li {
  visibility: hidden;
  -webkit-transform: translateY(0) scale(0);
          transform: translateY(0) scale(0);
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: 0.03s;
          transition-delay: 0.03s;
  margin: 0 auto;
  width: 56px;
  height: 56px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
  background-color: #333;
}

.wrap.pre.floating #floatingMenu .menuArea ul.menuList li a {
  display: block;
  width: inherit;
  height: inherit;
}

.wrap.pre.floating #floatingMenu .menuArea ul.menuList li + li {
  margin-top: 15px;
}

.wrap.pre.flexLayout .resultCont {
  position: relative;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap.pre.flexLayout .resultCont .container .flexArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* 실제로 사용되는 class */
  /* --- */
}

.wrap.pre.flexLayout .resultCont .container .flexArea .flexItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 200px;
  max-width: 200px;
  font-size: 1em;
  font-family: "Noto Sans";
  color: #fff;
  background-color: #000;
}

.wrap.pre.flexLayout .resultCont .container .flexArea .flexItem.bgGray {
  background-color: #444;
}

.wrap.pre.flexLayout .resultCont .container .flexArea .flexItem + .flexItem {
  margin-left: 10px;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.flexWrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 450px;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.flex-width .flexItem {
  max-width: inherit;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.flexAdj .flexItem + .flexItem {
  margin: 0;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.itemCt .flexItem {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fe-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fd-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fd-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fd-col .flexItem + .flexItem {
  margin: 10px 0 0 0;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fd-row-re {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fd-row-re .flexItem + .flexItem {
  margin: 0 10px 0 0;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fd-col-re {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fd-col-re .flexItem + .flexItem {
  margin: 0 0 10px 0;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.jc-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.jc-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.jc-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.jc-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.jc-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.ai-center .flexItem {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.ai-start .flexItem {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.ai-end .flexItem {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.flex1 .flexItem {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.flex-dp .flexItem {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fe-basis-d .flexItem {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fe-basis .flexItem {
  -ms-flex-preferred-size: 600px;
      flex-basis: 600px;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fe-grow-d .flexItem {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fe-grow .flexItem {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fe-shrink-d .flexItem {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 1000px;
      flex-basis: 1000px;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fe-shrink .flexItem {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 1000px;
      flex-basis: 1000px;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fe-wrap, .wrap.pre.flexLayout .resultCont .container .flexArea.fe-wrap-re {
  width: 450px;
  gap: 20px;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fe-wrap .flexItem + .flexItem, .wrap.pre.flexLayout .resultCont .container .flexArea.fe-wrap-re .flexItem + .flexItem {
  margin: 0;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fe-wrap-d {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fe-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fe-wrap-re {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.g20 {
  gap: 20px;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.row-g20 {
  row-gap: 20px;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.col-g20 {
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fe-order .flexItem:first-of-type {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fe-order .flexItem:nth-child(2) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fe-order .flexItem:nth-child(3) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fe-order .flexItem:last-of-type {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.wrap.pre.flexLayout .resultCont .container .flexArea.fe-order .flexItem + .flexItem {
  margin-left: 0;
  margin-right: 10px;
}

.wrap.pre.flexLayout .resultCont .container .tagGroup {
  margin-top: 120px;
}

.wrap.pre.flexLayout .resultCont .container .tagGroup:first-child, .wrap.pre.flexLayout .resultCont .container .tagGroup:last-child {
  margin: 0;
}

.wrap.pre.flexLayout .resultCont .container .tagGroup + .flexArea {
  margin-top: 30px;
}

.tagGroup .tag {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 50px;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1em;
  border-radius: 4px;
  font-family: "Noto Sans";
  color: #fff;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.35);
}

.tagGroup .tag.default {
  background-color: #ffa500;
}

.tagGroup .tag.gray {
  background-color: #333;
}

.tabWrap .tabCont {
  display: none;
}

.tabWrap .tabCont.active {
  display: block;
}

.tabWrap .tabNav .tabList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabWrap.type01 {
  margin-bottom: 30px;
}

.tabWrap.type01 > .tabNav {
  margin-bottom: 15px;
}

.tabWrap.type01 > .tabNav > .tabList {
  border-bottom: 2px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.tabWrap.type01 > .tabNav > .tabList > li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 35px;
  line-height: 35px;
  font-size: 1.13em;
  cursor: pointer;
  text-align: center;
  color: #000;
  font-family: "Noto Sans";
}

.tabWrap.type01 > .tabNav > .tabList > li.orange.active:before {
  background-color: #ed5e26;
}

.tabWrap.type01 > .tabNav > .tabList > li.pink.active:before {
  background-color: #cf649a;
}

.tabWrap.type01 > .tabNav > .tabList > li.blue.active:before {
  background-color: #2693cc;
}

.tabWrap.type01 > .tabNav > .tabList > li.yellow.active:before {
  background-color: #f7e018;
}

.tabWrap.type01 > .tabNav > .tabList > li.active {
  font-weight: bold;
}

.tabWrap.type01 > .tabNav > .tabList > li.active:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -1px;
  left: 0;
}

.tabWrap.typeEx > .tabNav > .tabList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  color: #222;
}

.tabWrap.typeEx > .tabNav > .tabList > li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  font-family: "Noto Sans";
}

.tabWrap.typeEx > .tabNav > .tabList > li.active {
  border-radius: 4px 0 0 4px;
  font-weight: bold;
  color: #fff;
  background-color: #266bf7;
}

.tabWrap.typeEx > .tabNav > .tabList > li.active:last-child {
  border-radius: 0 4px 4px 0;
}
/*# sourceMappingURL=layout.css.map */