/* text color */
/* background */
/* unit */
@media screen and (max-width: 1280px) {
  .titleH1 {
    font-size: 1.75em;
  }
  .titleH2 {
    font-size: 1.25em;
  }
  .titleH3 {
    font-size: 1em;
  }
  .rightArea > .inner {
    padding: 0 60px;
  }
  .leftArea .leftMenu > li:first-child > a {
    padding: 12px 0;
  }
  .leftArea .leftMenu > li span > a {
    padding: 12px 0;
    font-size: 1.13em;
    text-indent: 24px;
  }
  .leftArea .leftMenu > li span > a svg {
    width: 27px;
    height: 15px;
    top: 21px;
  }
  .leftArea .leftMenu > li ul.leftSubMenu {
    padding: 14px 24px 14px 24px;
  }
  .leftArea .leftMenu > li ul.leftSubMenu li > a {
    font-size: 1em;
  }
  .leftArea .leftMenu > li.active span a svg {
    top: 18px;
  }
  .wrap.pre.gnbHover .container, .wrap.pre.gnb-li-hover .container, .wrap.pre.gnbFind .container {
    margin: 0 40px;
  }
}

@media screen and (max-width: 768px) {
  *::-webkit-scrollbar {
    display: none;
  }
  *.mobScroll::-webkit-scrollbar {
    display: block;
  }
  .leftArea {
    left: -301px;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .leftArea .leftMenu li:first-child > a > img {
    width: 160px;
  }
  .leftArea .leftMenu li span > a {
    font-size: 1em;
  }
  .leftArea .leftMenu li span > a svg {
    top: 20px;
    width: 20px;
    height: 14px;
  }
  .leftArea .leftMenu li ul.leftSubMenu li a {
    font-size: 0.88em;
  }
  .leftArea .leftMenu li.active span a svg {
    top: 17px;
  }
  .leftArea.active {
    left: 0;
  }
  .leftArea.active ~ .headArea {
    width: calc(100% - 300px);
  }
  .leftArea.active ~ .rightArea {
    left: 300px;
  }
  .headArea {
    width: 100%;
    -webkit-transition: .3s;
    transition: .3s;
    padding-top: 30px;
  }
  .headArea > .inner .utilArea {
    -webkit-transition: .3s;
    transition: .3s;
  }
  .headArea > .inner .utilArea li a.btnMail svg {
    width: 22px;
    height: 22px;
  }
  .headArea > .inner .utilArea li button.btnShare svg, .headArea > .inner .utilArea li button.btnMore svg {
    width: 22px;
    height: 22px;
  }
  .headArea > .inner .utilArea li button.btnDarkMode svg {
    width: 22px;
    height: 22px;
  }
  .headArea > .inner .moreArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .headArea > .inner .moreArea .btnMobileMore {
    color: var(--d-svg-current);
  }
  .headArea > .inner .moreArea.active {
    left: 320px;
  }
  .headArea > .inner .backArea {
    display: none !important;
  }
  .rightArea {
    left: 0;
    width: auto;
    -webkit-transition: .3s;
    transition: .3s;
    padding: 85px 0 20px 0;
    margin: 0 24px;
  }
  .rightArea > .inner {
    padding: 0;
  }
  .rightArea .mainTxt {
    font-size: 0.88em;
  }
  .resultArea > .inner {
    padding: 10px;
  }
  .topArea {
    display: none !important;
  }
  .innerTxt > strong {
    font-size: 1.13em;
  }
  .titleH1 {
    font-size: 1.63em;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  .titleH2 {
    font-size: 1.13em;
  }
  .titleH3 {
    font-size: 0.88em;
  }
  .popup.share {
    width: 300px;
  }
  .popup.share .cont .inner {
    padding: 15px;
  }
  .popup.share .cont .inner p {
    font-size: 0.75em;
  }
  .popup.share .cont .inner p + .inputArea {
    margin-top: 15px;
  }
  .popup.share .cont .inner .inputArea input {
    margin-right: 10px;
  }
  .popup.share .cont .inner .inputArea button {
    font-size: 0.75em;
    min-width: 65px;
  }
  .tabWrap.type01 {
    margin-bottom: 20px;
  }
  .tabWrap.type01 > .tabNav {
    margin-bottom: 10px;
  }
  .tabWrap.type01 > .tabNav > .tabList {
    border-width: 1px;
  }
  .tabWrap.type01 > .tabNav > .tabList > li {
    height: 30px;
    line-height: 30px;
    font-size: 1em;
  }
  .tabWrap.type01 > .tabNav > .tabList > li.active:before {
    height: 2px;
  }
  .btnArea .button {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    height: 30px;
    line-height: 30px;
    font-size: 0.75em;
  }
  i.ico.result {
    width: 5px;
    height: 9px;
    margin-left: 5px;
    background-size: 5px 9px;
  }
  .highlightArea .code-toolbar .toolbar-item span {
    padding: 0 5px !important;
    font-size: 0.69em !important;
  }
  #frameBody .wrap.pre.allRes > .container {
    display: block;
  }
  #frameBody .wrap.pre > .container {
    display: none;
  }
  #frameBody .wrap.pre .gifCont {
    display: block;
  }
  #frameBody .wrap.pre.bgImage :where(.resultCont.type01, .resultCont.type02) {
    display: none;
  }
  #frameBody .wrap.pre.floating {
    height: auto;
  }
  #frameBody .wrap.pre.floating #floatingMenu {
    display: none;
  }
  #frameBody .wrap.pre.gnbHover .container, #frameBody .wrap.pre.gnb-li-hover .container, #frameBody .wrap.pre.gnbFind .container {
    width: auto;
    padding: 60px 20px 0 20px;
  }
  #frameBody .wrap.pre.gnbHover .container #gnb ul.menuList > li > a, #frameBody .wrap.pre.gnb-li-hover .container #gnb ul.menuList > li > a, #frameBody .wrap.pre.gnbFind .container #gnb ul.menuList > li > a {
    font-size: 1.13em;
  }
  #frameBody .wrap.pre.gnbHover .container #gnb ul.menuList > li .depthTwo > li > a, #frameBody .wrap.pre.gnb-li-hover .container #gnb ul.menuList > li .depthTwo > li > a, #frameBody .wrap.pre.gnbFind .container #gnb ul.menuList > li .depthTwo > li > a {
    font-size: 0.88em;
  }
  #frameBody .wrap.pre.gnbFind #gnb ul.menuList li {
    min-width: 90px;
  }
  #frameBody .wrap.pre .gifCont .gifArea > img {
    width: 95vw;
  }
  #frameBody .wrap.pre.leftMenu .leftAreaType02 > .leftMenu li span {
    font-size: 1.13em;
  }
  .titleH2.web, .resultArea.web {
    display: none;
  }
  .btnArea.mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .leftArea > .leftMenu > li > ul.leftSubMenu li a > .depthToggle {
    width: 17px;
    height: 17px;
    top: 0;
    background-size: 17px 17px;
  }
  .leftArea > .leftMenu > li > ul.leftSubMenu li.on a > .depthToggle {
    top: 10px;
    background-size: 14px auto;
  }
  .leftArea > .leftMenu > li.active span:after {
    right: 31px;
  }
}

@media screen and (max-width: 600px) {
  .highlightArea::-webkit-scrollbar {
    display: none;
  }
  .leftArea.active {
    min-width: 40%;
    max-width: 200px;
  }
  .leftArea.active ~ .rightArea {
    left: 0;
    margin: 0;
    -webkit-transform: translate(calc(100% - 80px), 0);
            transform: translate(calc(100% - 80px), 0);
  }
  .leftArea.active ~ .headArea {
    width: 100%;
    -webkit-transform: translate(calc(100% - 100px), 0);
            transform: translate(calc(100% - 100px), 0);
  }
  #frameBody .wrap.pre.leftMenu .leftAreaType02 > .leftMenu li span {
    font-size: 1em;
  }
  #frameBody .wrap.pre.leftMenu .leftAreaType02 > .leftMenu li span:after {
    width: 13px;
    height: 7px;
    background-size: 13px 7px;
  }
}

@media screen and (max-width: 500px) {
  #wrap.license #container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #wrap.license #container #contents {
    width: auto;
    max-width: 1200px;
  }
}

/* hover */
@media (hover: hover) {
  a.link:hover {
    text-decoration: underline;
  }
  a.mail:hover {
    text-decoration: underline;
  }
  .headArea > .inner .utilArea li button.btnMail:hover .toolTip.mail, .headArea > .inner .utilArea li a.btnMail:hover .toolTip.mail {
    opacity: 1;
    visibility: visible;
  }
  .headArea > .inner .utilArea li button.btnShare:hover .toolTip.share, .headArea > .inner .utilArea li a.btnShare:hover .toolTip.share {
    opacity: 1;
    visibility: visible;
  }
  .headArea > .inner .utilArea li button.btnMore:hover .toolTip.more, .headArea > .inner .utilArea li a.btnMore:hover .toolTip.more {
    opacity: 1;
    visibility: visible;
  }
  .headArea > .inner .utilArea li button.btnDarkMode:hover .toolTip.more, .headArea > .inner .utilArea li a.btnDarkMode:hover .toolTip.more {
    opacity: 1;
    visibility: visible;
  }
  .headArea > .inner .utilArea li:hover:before {
    opacity: 1;
    visibility: visible;
  }
  .leftArea > .leftMenu > li > ul.leftSubMenu li a:hover {
    text-decoration: underline;
  }
  .headArea > .inner .utilArea li .moreSubMenu > ul > li:hover {
    background-color: var(--d-bg-hv-more-sub-menu-item);
  }
  #wrap.main .btnStart:hover:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  #wrap.main .btnStart:hover span {
    color: #333;
  }
  #wrap.main .btnStart:hover span:after {
    background: url("../../images/ico/ico-arrow-right-bk-shw.png") no-repeat center;
  }
  #wrap.err .bottomDiv a:hover {
    text-decoration: underline;
  }
  .topArea .backtoTop:hover {
    background-color: var(--bg-hv-btt);
  }
  .topArea .backtoTop:hover svg {
    fill: var(--hv-svg-btt);
  }
  .headArea > .inner .backArea .btnBack:hover:before {
    opacity: 1;
    visibility: visible;
  }
  .boardList .cont .li .boardBox .boardItem:last-child.underLine:hover {
    text-decoration: underline;
  }
  .pager div:not(.pageNumbers):hover:not(.disabled) {
    border-color: #000;
  }
  .pager .pageNumbers > a.active, .pager .pageNumbers > a:hover {
    border-color: #000;
    color: black;
  }
  .pager .firstPage:hover:not(.disabled) {
    background: url("../../images/ico/ico-pagi-first-hover.png") no-repeat center;
  }
  .pager .previousPage:hover:not(.disabled) {
    background: url("../../images/ico/ico-pagi-prev-hover.png") no-repeat center;
  }
  .pager .nextPage:hover:not(.disabled) {
    background: url("../../images/ico/ico-pagi-next-hover.png") no-repeat center;
  }
  .pager .lastPage:hover:not(.disabled) {
    background: url("../../images/ico/ico-pagi-last-hover.png") no-repeat center;
  }
}

@media (prefers-color-scheme: light) {
  body {
    --d-bg-body: #fff;
    --d-bg-left-menu:#f5f5f5;
    --d-c-title: #202020;
    --d-c-main-txt: #333;
    --d-c-left-menu-depth: #333;
    --d-c-at-left-menu-depth: #266bf7;
    --dis-c-left-menu-dep2: #ccc;
    --d-c-at-more-sub-menu: #202020;
    --d-bg-left-menu-dep1: #707070;
    --d-bg-left-menu-dep2: #eee;
    --d-bg-at-more-sub-menu: #f3f4f5;
    --d-bg-hv-more-sub-menu-item: rgba(204, 204, 204, 0.8);
    --d-bg-hv-util-area-circle: rgba(221, 221, 221, 0.5);
    --d-bg-pop: #fff;
    --d-c-pop: #222;
    --d-bdc: #ddd;
    --d-sc-thumb: #ccc;
    --d-sc-track: #e9e9e9;
    --d-sc-hv-thumb: #b6b6b6;
    --d-sc-at-thumb: #808080;
    --d-svg-current: #000;
    --d-bg-input: #fff;
    --d-c-input: #222;
    --c-emphasis01: #266bf7;
    --c-emphasis02: #1694d2;
    --c-tab:#000;
    --logo-light: inline-block;
    --logo-dark: none;
    --ico-light:inline-block;
    --ico-dark: none;
    --mark-dep3: rgba(32, 32, 32, 0.75);
    --bdc-btt: #000;
    --bg-hv-btt: #000;
    --hv-svg-btt: #fff;
    --ele-shadow: #ddd;
    --bdc-input: #ddd;
    --primary: #266bf7;
    --d-key-focus: #000;
    --d-fb-box: #000;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --d-bg-body: #181818;
    --d-bg-left-menu:#212121;
    --d-c-title: rgba(242, 241, 241, 1);
    --d-c-main-txt: #ececec;
    --d-c-left-menu-depth: rgba(242, 241, 241, 1);
    --d-c-at-left-menu-depth: rgba(89,148,241,1);
    --dis-c-left-menu-dep2: #717171;
    --d-c-at-more-sub-menu: rgba(242, 241, 241, 1);
    --d-bg-left-menu-dep1: rgba(242, 241, 241, 1);
    --d-bg-left-menu-dep2: #1e1f21;
    --d-bg-at-more-sub-menu: #2d2d2d;
    --d-bg-hv-more-sub-menu-item: #53575C;
    --d-bg-hv-util-area-circle: rgba(255,255,255,0.1);
    --d-bg-pop: #313131;
    --d-c-pop: rgba(242, 241, 241, 1);
    --d-bdc: #3a3b3d;
    --d-sc-thumb: #686868;
    --d-sc-track: #424242;
    --d-sc-hv-thumb: #7b7b7b;
    --d-sc-at-thumb: #b6b6b6;
    --d-svg-current: #fff;
    --d-bg-input: #333;
    --d-c-input: #fff;
    --c-emphasis01: rgba(89,148,241,1);
    --c-emphasis02: rgba(149,196,232,1);
    --c-tab:#ececec;
    --logo-light: none;
    --logo-dark: inline-block;
    --ico-light: none;
    --ico-dark: inline-block;
    --mark-dep3: rgba(242, 241, 241, 1);
    --bdc-btt: #fff;
    --bg-hv-btt: #fff;
    --hv-svg-btt: #000;
    --d-svg-btt: #fff;
    --ele-shadow: transparent;
    --bdc-input: #a0a0a0;
    --primary: #2196F3;
    --d-key-focus: #fff;
    --d-fb-box: #555;
  }
}
/*# sourceMappingURL=media.css.map */