@charset "utf-8";

@font-face {
  font-family: 'Noto Sans Light';
  font-style: normal;
  font-weight: 400;
  src: url(./font/notoSans/eot/NotoSansKR-Light-Hestia.eot);
  src: url(./font/notoSans/eot/NotoSansKR-Light-Hestia.eot?#iefix) format("embedded-opentype"), url(./font/notoSans/woff/NotoSansKR-Light-Hestia.woff) format("woff");
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url(./font/notoSans/eot/NotoSansKR-Regular-Hestia.eot);
  src: url(./font/notoSans/eot/NotoSansKR-Regular-Hestia.eot?#iefix) format("embedded-opentype"), url(./font/notoSans/woff/NotoSansKR-Regular-Hestia.woff) format("woff");
}

@font-face {
  font-family: 'Noto Sans Medium';
  font-style: normal;
  font-weight: 400;
  src: url(./font/notoSans/eot/NotoSansKR-Medium-Hestia.eot);
  src: url(./font/notoSans/eot/NotoSansKR-Medium-Hestia.eot?#iefix) format("embedded-opentype"), url(./font/notoSans/woff/NotoSansKR-Medium-Hestia.woff) format("woff");
}


/* reset */
html, body, div, span, object,h1, h2, h3, h4, h5, h6, p, blockquote, a, button, abbr, address, img, q,dl, dt, dd, ol, ul, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,article, aside, footer, header, section, summary{margin:0;padding:0;border:0;font:inherit;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block;}/* HTML5 display-role reset for older browsers */
body,html{width: 100%;height: 100%; margin: 0; padding: 0;}ol, ul{list-style: none;}
table{border-collapse: collapse;border-spacing: 0;}
img{border: none;}
a{text-decoration: none;color: inherit;}
address{font-style: normal;}
button{display: inline-block;border: none;background-color: transparent;cursor: pointer;}
input,button,a,select,option{font-family:inherit;font-size:inherit;}
input[type="checkbox"]{border: none !important;}/* for lte IE10 */
input[type="radio"]{border: none !important;}/* for lte IE10 */
input[type="text"]::-ms-clear {display:none;}
button:focus{outline:none;}
caption,hr{display:none;}
pre{word-break:break-all;white-space:pre-line;margin: 0 !important;}
li{list-style: none;}

@import 'variable.scss';

/* common */
body,html{font-family:'Noto Sans DemLight', "맑은 고딕", "Malgun Gothic", Dotum, sans-serif;font-size:13px;color: $c333;letter-spacing:-0.045em !important;}
.hidden{display:block;margin: 0;padding: 0;width: 0;height: 0;overflow: hidden;font-size: 0;line-height: 0;visibility: hidden;}


/* class */
.block{display: block;}
.h400{height: 400px;}
.overflow-y{overflow-y: auto;
  &.maxH{max-height: 100px;}
  &.maxH4{max-height: 400px;}
}
.tScroll{display: block;}

#wrap{width: 100%; height: 100%;
  &.main{position: relative; transition: .5s; background-color: #4e4e4e;
    .logo a{display: block; width: 800px; height: 136px; transition: .5s ease-in-out;
    background: url("../images/common/main-logo-g.png")no-repeat center;
      &.change{background: url("../images/common/main-logo-w.png")no-repeat center;}
    } 
    .centerArea{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center;}
    .btnStart{position: relative; display: inline-block; width: 170px; height: 56px; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: rgba($color: #fff, $alpha: 0.5); transform: perspective(1px) translateZ(0); 
      span{position: relative; font-size: 22px; font-family: 'Noto Sans'; margin-right: 20px; transition: .3s;
      color: #fff; letter-spacing: 6.6px;
        &:after{content: ''; position: absolute; top: 6px; right: -30px; min-width: 20px; height: 20px; transition: .3s;
        background: url("../images/ico/ico-arrow-right-w-shw.png")no-repeat center;}
      }
      &:before{content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: -1;
      transform: scaleX(0); transform-origin: 0 50%;  transition-duration: 0.3s; transition-property: transform; 
      transition-timing-function: ease-out; background: #fff;}
      &:hover{
        span{color: $c333;
          &:after{background: url("../images/ico/ico-arrow-right-bk-shw.png")no-repeat center;}
        }
        &:before{transform: scaleX(1);}
      }
    }
    &.blue{background: #1694d2; transition: .5s ease-in-out;}
  }

  /* update page */
  &.update{
    #contents{padding: 50px 0; min-width: 1200px; margin: 0 auto;}
    .mainTxt{
      ul{
        li{font-family: '맑은 고딕';
          +li{margin-top: 10px;}
        }
      }
      p{font-size: 16px; font-family: 'Noto Sans';line-height: 1.5; color: $c333;}
    }
    .textBox{
      .titleH3+.mainTxt p{font-size: 14px;}
      +.textBox{margin-top: 75px;}
    }
  }

  // &.layoutSlide{
  //   .resultCont{position: relative; padding: 50px; box-sizing: border-box;}
  //   .customSlideWrap{position: relative; overflow: hidden;
  //     .customSlideList{position:relative; display: flex; align-items: center;width: 400%; height: 300px;
  //       .slideItem{flex: 1; overflow: hidden;
         
  //       }
  //     }
  //   }
  //   .swiperItem{height: 100vh; display: flex;justify-content: center; align-items: center; font-size: 32px; font-family: 'Noto Sans';}
  //   .slideButtonArea{
  //     .swiper-button-next{right: 100px;}
  //     .swiper-button-prev{left: 100px;}
  //   }
  // }
}

#container{position: relative; display: flex;}

.leftArea{position: fixed; left: 0; width: 300px; height: 100%; border-right: 1px solid $cddd; 
overflow-y: auto; background-color: #f5f5f5; z-index: 1100;
  >.leftMenu{
    >li{position: relative; cursor: pointer;
      a{display: block;}
      &.noDepth{
        span:after{display: none;}
      }
      &:first-child{padding: 16px 0 16px 28px; border-bottom: 1px solid rgba($color: #000012, $alpha: 0.08);}
      &.active{
        span{color: $emphasisType01;
          &:after{transform: translateY(-50%) rotate(180deg); background: url("../images/ico/ico-down-active.svg")no-repeat;}
        }
      }
      >span{position: relative; display: block; padding: 16px 0; text-indent: 28px;border-bottom: 1px solid rgba($color: #000012, $alpha: 0.08);
      font-family: 'Noto Sans'; font-size: 22px; color: $c70; transition: .5s;
        &:after{content: ''; width: 15px;height: 9px; position: absolute; top: 50%; right: 28px; transition: .5s;
        transform: translateY(-50%);background: url("../images/ico/ico-down.svg")no-repeat;}
      }
      >a{display: block;}
      >ul.leftSubMenu{display: none; padding: 16px 28px 16px 28px; box-sizing: border-box;
      border-bottom: 1px solid rgba($color: #000012, $alpha: 0.08); background-color: #eee;
        &.block{display: block;}
        li{padding-bottom: 8px; border-bottom: 1px solid rgba($color: #000012, $alpha: 0.08);
          a{display: block; font-family: 'Noto Sans'; font-size: 18px; color: $c70;
            &:hover{text-decoration: underline;}
          }
          &.active{
            a{color: $emphasisType01;}
          }
          +li{margin-top: 17px;}

          //비공개일때
          &.disabled{
            >a{color: #ccc;}
          }
        }
      }
    }
  }
}

.backArea{position: absolute; left: 340px; top: 22px;
  .btnBack{position: relative; display: block; width: 30px; height: 30px; background-image: url("../images/ico/ico-home.png"); 
    background-repeat: no-repeat; background-position: center; background-size: 30px 30px;
    &:before{content: ''; opacity: 0; visibility: hidden; position: absolute; left: -5px; top: -5px; z-index: -1;
      width: 40px; height: 40px; border-radius: 50px; transition: .5s ease-in-out; background-color: rgba($color: $cddd, $alpha: 0.5);}
    &:hover{
      &:before{opacity: 1; visibility: visible;}
    }
  }
  &.none{display: none;}
}

.utilArea{position: absolute; top: 22px; right: 30px; z-index: 1000;
  ul{display: flex;align-items: center;}
  li{position: relative;
    .toolTip{opacity: 0; visibility: hidden; position: absolute; top: 42px; left: -14px; transition: .5s ease-in-out; z-index: 100;
      span{display: block; min-width: 60px; padding: 5px 0; box-sizing: border-box; color: #fff;
      font-family: 'Noto Sans'; font-size: 11px; border-radius: 3px; text-align: center;
      background-color: $c333;}
    }
    &:before{content: ''; opacity: 0; visibility: hidden; position: absolute; left: 50%; transform: translateX(-50%); top: -5px; z-index: -1;
    width: 40px; height: 40px; border-radius: 50px; transition: .5s ease-in-out; background-color: rgba($color: $cddd, $alpha: 0.5);}
    button,a{display: block; width: 30px;height: 30px;
      &.btnMail{background: url("../images/ico/ico-mail.svg")no-repeat center;
        &:hover{
          .toolTip.mail{opacity: 1; visibility: visible;}
        }
      }
      &.btnShare{background: url("../images/ico/ico-share-bk.svg")no-repeat center;
        &:hover{
          .toolTip.share{opacity: 1; visibility: visible;}
        }
      }
      &.btnMore{background: url("../images/ico/ico-more.svg")no-repeat center;
        &:hover{
          .toolTip.more{opacity: 1; visibility: visible;}
        }
      }
      &.btnDarkMode{width: 30px; height: 30px; background-image: url("../images/ico/ico-brightness.png"); background-position: center;
      background-repeat: no-repeat; background-size: 30px 30px;
        &:hover{
          .toolTip.more{opacity: 1; visibility: visible;}
        }
      }
    }
    +li{margin-left: 30px;}
    &:hover{
      &:before{opacity: 1; visibility: visible;}
    }
  }
}

.moreSubMenu{display: none; position: absolute; top: 40px; right: 0; z-index: 150;
  >ul{width: 95px; height: 95px; flex-direction: column; border: 1px solid $cddd; box-shadow: 0px 0px 5px 1px $cddd;
  box-sizing: border-box; background-color: #f3f4f5;
    >li{flex: 1; display: block; width: 100%; font-family: 'Noto Sans'; line-height: 30px; transition: .5s;
      >a,span{width: auto; height: auto; color: #202020;text-align: center; white-space: nowrap; font-size: 12px;}
      &:before{display: none;}
      +li{margin-left: 0;}
      &:hover{background-color: rgba($color: #ccc, $alpha: 0.8);}
    }
  }
  &.active{display: block;}
}

.resultArea{border: 1px solid $cddd; border-radius: 4px;
  .inner{padding: 15px; box-sizing: border-box;
    .exBox{border: 1px solid #222; height: 150px;
      .overflowDiv{width: 100%; height: 200px;}
    }
    .textBox+.textBox{margin-top: 30px;}
  }
  +.btnArea{margin-top: 50px;}
}

.rightArea{position: absolute; right: 0; top: 0; left: calc(50% - 402px); width: 1200px; padding: 92px 0; z-index:950;
  .highlightArea{max-height: 500px;
    +.titleH2{margin-top: 20px;}
  }

  .textBox{
    label{vertical-align: middle;}
    +.textBox{margin-top: 75px;}
  }
  
  /* 본문 텍스트 */
  .mainTxt{font-size: 16px; font-family: 'Noto Sans'; line-height: 1.5; color: $c333;
    +.highlightArea{margin-top: 15px;}
    +.tabWrap{margin-top: 30px;}
  }
}

/* h1 ~ h3 */
.titleH1,.titleH2,.titleH3{font-family: 'Noto Sans'; color: $c20;}
.titleH1,.titleH2,.titleH3{margin-bottom: 20px; padding-bottom: 15px; font-weight: bold; border-bottom: 1px solid $cddd;}
.titleH1{font-size: 32px;}
.titleH2{font-size: 24px;}
.titleH3{font-size: 20px;}

.innerTxt{
  >strong{display: block; margin-bottom: 5px; font-size: 20px;}
  +.innerTxt{margin-top: 35px;}
}

.table{
  table{width: 100%;}
  th,td{height: 30px; border: 1px solid $cddd; padding: 5px; box-sizing: border-box; font-family: 'Noto Sans';}
  th{font-size: 14px; color: $c333; background-color: #f5f5f5;}

  &.noticeBoard{border-top: 7px solid #222;
    th,td{border: 1px solid #5f5f5f; font-family: 'Noto Sans';
      &:last-child{border-right: 0;}
      &:first-child{border-left: 0;}
    }
    th{height: 65px; font-size: 18px; color: #3b3b3b; background-color: $cddd;}
    td{height: 40px; font-size: 16px; padding: 15px 25px 15px 25px; box-sizing: border-box; background-color: rgba($color: #f3f4f5, $alpha: 0.8);}
    .tgContRow{display: none;
      .showHideBox{display: none;}
    }
  }
}

.flex{display: flex;
  &.ac{align-items: center;}
  &.jc{justify-content: center;}
  &.sb{justify-content: space-between;}
}

.popup{display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;
box-shadow: 0px 0px 8px rgba($color: #000, $alpha: 0.35);
  &.share{width: 350px;
    .cont{border-radius: 4px; text-align: center;
      .inner{padding: 20px;}
    }
  }
  .head{background-color: #fff;
    .inner{padding: 10px; box-sizing: border-box;}
  }
  .cont{background-color: #fff;
    .inner{padding: 10px; box-sizing: border-box;
      p{font-size: 14px; color: #222; font-family: 'Noto Sans';
        +.inputArea{margin-top: 25px;}
      }
      .inputArea{
        button{height: 30px; line-height: 30px;}
        input{margin-right: 15px;}
      }
    }
  }
}

a{
  &.link{margin: 0px 5px 0 3px; color: $emphasisType01; font-family: 'Noto Sans Medium';
    &:hover{text-decoration: underline;}
  }
  &.mail{margin: 0px 5px 0 3px; color: $emphasisType02; font-family: 'Noto Sans Medium';
    &:hover{text-decoration: underline;}
  }
}

.button{display: flex; align-items: center; justify-content: center; height: 34px; line-height: 34px;
padding: 0 10px; box-sizing: border-box; border-radius: 4px; font-family: 'Noto Sans';
font-size: 14px; color: #fff;
  &.w75{min-width: 75px;}
  &.type01{padding: 0 10px 0 5px;}
  &.Bgblue{background-color: #266bf7;}
}

i.ico{display: inline-block; background-repeat: repeat; background-position: center;
  &.share{width: 33px;height: 33px; background-image: url("../images/ico/ico-share-w.svg");}
  &.result{margin-left: 10px; width: 7px;height: 11px; background-image: url("../images/ico/ico-result.svg");}
}

.btnArea{position: relative; display: flex;
  &.end{justify-content: flex-end;}
}

#dimmed{display: none; position: fixed; z-index: 9998; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0,0.6);}

// code highlight
.highlightArea{position: relative;
  .code-toolbar{
    .toolbar{top: 8px !important; right: 8px !important;}
    .toolbar-item{cursor: pointer;
      &:last-child{
        span{color: rgba($color: #fff, $alpha: 1.0); background-color: #ed5e26 !important; font-weight: bold !important;}
      }
      button{font-size: 12px !important; padding: 0 !important;}
      span{display: inline-block !important; min-width: 40px !important; 
      padding: 0 10px !important; font-size: 12px !important; 
      font-family: 'Noto Sans' !important; text-align: center!important; transition: .5s !important;
        &:hover{color: #fff !important;}
      }
      +.toolbar-item{margin-left: 5px;}
      &.scssStyle{
        span{color: #fff; background-color: #cf649a !important;}
      }
      &.cssStyle{
        span{color: #fff; background-color: #2693cc !important;}
      }
      &.jsStyle{
        span{color: #000 !important; background-color: #f7e018 !important;}
      }
    }
  }
}

// update page list
.boardList{margin-top: 40px;
  ul{padding: 0;
    li{padding: 0; list-style: none; font-family: 'Noto Sans';}
  }
  .head{color: #3b3b3b; font-size: 18px; background: $cddd;
    >ul{display: flex; border-top: 7px solid #222; border-bottom: 1px solid #5f5f5f; 
      >li{display: inherit; justify-content: center;
        >span{line-height: 65px;}
        &:first-child{width: 12%;}
        &:last-child{flex: 1;}
      }
    }
  }

  .cont{border-bottom: 1px solid #5f5f5f; background: rgba($color: #f3f4f5, $alpha: 0.8);
    .li{border-top: 1px solid #5f5f5f; font-size: 16px; padding: 10px 0; box-sizing: border-box; cursor: pointer;
      .boardBox{display: flex;
        .boardItem{display: inherit; justify-content: center;
          &:first-child{width: 12%;}
          &:last-child{flex: 1;
            &.underLine:hover{text-decoration: underline;}
          }
        }
      }
      &:first-child{border-top: 0;}
    }
    .listShowHideBox{display: none; padding: 0 30px; box-sizing: border-box; border-top: 1px solid #5f5f5f; background: rgba($color: #f3f4f5, $alpha: 0.8);
      .inner{padding: 20px 0;
        .tit{padding-bottom: 15px; border-bottom: 1px solid $cddd;
          p{font-size: 18px; color: #000; font-family: 'Noto Sans';}
          +dd{margin-top: 20px;}
        }
        dd{font-size: 14px; color: $c333; font-family: 'Noto Sans';
          &:before{content: ''; display: inline-block; width: 6px; height: 6px; border-radius: 50%; vertical-align: middle;
          margin: -4px 10px 0 0; background-color: #000;}
        }
      }
    }
  }
}

// update page pagination
.pager{display: flex; justify-content: center; align-items: center; margin-top: 60px;
  div:not(.pageNumbers){display: flex; justify-content: center; width: 30px; height: 30px;
  box-sizing: border-box; border: 1px solid $cddd; border-radius: 4px; cursor: pointer; font-size: 16px;
  transition: 0.35s ease-in-out;
    &:hover:not(.disabled){border-color: #000;}
  }

  .firstPage,.previousPage,.nextPage,.lastPage{
    &.disabled{cursor: default; background-color: rgba($color: #ccc, $alpha: 0.5);}
  }
  .firstPage{background: url("../images/ico/ico-pagi-first.png")no-repeat center;
    &:hover:not(.disabled){background: url("../images/ico/ico-pagi-first-hover.png")no-repeat center;}
  }
  .previousPage{margin-left: 5px; background: url("../images/ico/ico-pagi-prev.png")no-repeat center;
    &:hover:not(.disabled){background: url("../images/ico/ico-pagi-prev-hover.png")no-repeat center;}
  }
  .nextPage{margin-right: 5px; background: url("../images/ico/ico-pagi-next.png")no-repeat center;
    &:hover:not(.disabled){background: url("../images/ico/ico-pagi-next-hover.png")no-repeat center;}
  }
  .lastPage{background: url("../images/ico/ico-pagi-last.png")no-repeat center;
    &:hover:not(.disabled){background: url("../images/ico/ico-pagi-last-hover.png")no-repeat center;}
  }
  .pageNumbers{margin: 0 50px;
    >a{display: inline-block; width: 32px; height: 32px; line-height: 32px; text-align: center; font-size: 16px;
    border: 1px solid $cddd; border-radius: 4px; font-family: 'Noto Sans'; color: rgba($color: #222, $alpha: 0.5);
    transition: 0.35s ease-in-out;
      +a{margin-left: 5px;}
      &.active,&:hover{border-color: #000; color: rgba($color: #000, $alpha: 1.0)}
    }
  }
}

// result
#frameBody{display: none; position: absolute; width: 100%; height: 100%; background-color: #fff; z-index: 10000;
  .btnArea{position: fixed; top: 0; right: 0; z-index: 9999;
    .frameClose{width: 24px; height: 24px; padding: 18px; box-sizing: border-box;
    border-radius: 0 0 0 5px; background-size: 24px 24px; background-image: url("../images/ico/ico-result-close.png");
    background-repeat: no-repeat; background-position: center center; background-color: #fff;}
  }
  &.fixed{position: fixed;}
}

#toast{display: none; position: fixed; top: 120px; left: 50%; transform: translateX(-50%); 
width: 290px; padding: 12px; box-sizing: border-box; border-radius: 4px; z-index: 9999;
background-color: rgba($color: #000, $alpha: 0.65);
  span{display: inline-block; text-align: center; font-size: 14px; color: #fff; font-family: '맑은 고딕';}
}

/* 모바일 */
.moreArea{display: none; position: absolute; top: 20px; left: 20px; z-index: 1200; transition: .3s;
  .btnMobileMore{width: 24px; height: 24px; background-repeat: no-repeat; background-size: 24px 24px; background-position: center; 
  background-image: url("../images/mobile/ico-mobile-more.png");}
}

/* import */
@import '~/../component/header.scss';
@import '~/../component/gnb.scss';
@import '~/../component/footer.scss';
@import '~/../component/layout.scss';
@import '~/../component/input.scss';
@import '~/../component/scrollele.scss';
@import '~/../component/custom.scss';
@import '~/../component/popup.scss';
@import '~/../component/etc.scss';
@import '~/../component/tooltip.scss';
@import 'media.scss';